<div class="page-width page-content reg-page-content">
    <div class="form-account-login-line" style="text-align: center; margin-bottom: 3rem;">
        <!-- LINE BUTTON Start -->

        <div id="signuplinebtn" class="socialplus-login-button-component clickableDiv" >
            <!-- <a id="loginLineURL" class="" href=""> -->
                <svg width="280" height="44" viewBox="0 0 280 44" fill="white" xmlns="http://www.w3.org/2000/svg"
                     class="socialplus-login-button-image">
                    <rect width="280" height="44" rx="8.063" fill="#06C755"></rect>
                    <path d="M38.1371 19.7159C38.1371 12.5013 30.8922 6.61768 21.9987 6.61768C13.1052 6.61768 5.86035 12.4862 5.86035 19.7159C5.86035 26.1894 11.6078 31.6042 19.3518 32.6327C19.8812 32.7537 20.5921 32.9806 20.7736 33.4343C20.94 33.8427 20.8795 34.4779 20.819 34.8863C20.819 34.8863 20.6223 36.0207 20.5921 36.2627C20.5165 36.6711 20.2745 37.8508 21.9836 37.1399C23.7078 36.4139 31.2703 31.6647 34.6583 27.7776C37.0027 25.2063 38.1371 22.6048 38.1371 19.7159Z"
                          fill="white"></path>
                    <path d="M32.7678 23.8904H28.2455C28.0791 23.8904 27.943 23.7543 27.943 23.5879V16.5548C27.943 16.3884 28.0791 16.2523 28.2455 16.2523H32.7678C32.9342 16.2523 33.0703 16.3884 33.0703 16.5548V17.7043C33.0703 17.8707 32.9342 18.0068 32.7678 18.0068H29.6823V19.2017H32.7678C32.9342 19.2017 33.0703 19.3378 33.0703 19.5042V20.6537C33.0703 20.8201 32.9342 20.9562 32.7678 20.9562H29.6823V22.1511H32.7678C32.9342 22.1511 33.0703 22.2872 33.0703 22.4536V23.6031C33.0703 23.7543 32.9342 23.8904 32.7678 23.8904Z"
                          fill="#06C755"></path>
                    <path d="M15.994 23.8905C16.1604 23.8905 16.2965 23.7544 16.2965 23.588V22.4385C16.2965 22.2721 16.1604 22.136 15.994 22.136H12.9085V16.5398C12.9085 16.3734 12.7724 16.2373 12.606 16.2373H11.4565C11.2901 16.2373 11.154 16.3734 11.154 16.5398V23.5729C11.154 23.7393 11.2901 23.8754 11.4565 23.8754H15.994V23.8905Z"
                          fill="#06C755"></path>

                    <path d="M18.7162 16.2373H17.5667C17.4003 16.2373 17.2642 16.3734 17.2642 16.5398V23.588C17.2642 23.7544 17.4003 23.8905 17.5667 23.8905H18.7162C18.8825 23.8905 19.0187 23.7544 19.0187 23.588V16.5398C19.0338 16.3734 18.8977 16.2373 18.7162 16.2373Z"
                          fill="#06C755"></path>

                    <path d="M26.5059 16.2373H25.3564C25.1901 16.2373 25.0539 16.3734 25.0539 16.5398V20.7294L21.8323 16.3734C21.8323 16.3583 21.8172 16.3583 21.8021 16.3431L21.7869 16.328L21.7718 16.3129C21.7718 16.3129 21.7718 16.3129 21.7567 16.3129L21.7416 16.2978C21.7416 16.2978 21.7416 16.2978 21.7264 16.2978C21.7264 16.2978 21.7113 16.2978 21.7113 16.2826C21.7113 16.2826 21.7113 16.2826 21.6962 16.2826C21.6962 16.2826 21.6811 16.2826 21.6811 16.2675C21.6811 16.2675 21.6811 16.2675 21.6659 16.2675H21.6508C21.6508 16.2675 21.6508 16.2675 21.6357 16.2675H21.6206H21.6054H21.5903H21.5752C21.5752 16.2675 21.5752 16.2675 21.5601 16.2675H20.4257C20.2593 16.2675 20.1232 16.4036 20.1232 16.57V23.6183C20.1232 23.7846 20.2593 23.9208 20.4257 23.9208H21.5752C21.7416 23.9208 21.8777 23.7846 21.8777 23.6183V19.4438L25.0993 23.7998C25.1144 23.83 25.1447 23.8603 25.1749 23.8754L25.1901 23.8905C25.1901 23.8905 25.1901 23.8905 25.2052 23.8905H25.2203H25.2354C25.2354 23.8905 25.2354 23.8905 25.2506 23.8905H25.2657C25.2959 23.8905 25.3111 23.9056 25.3413 23.9056H26.4757C26.6421 23.9056 26.7782 23.7695 26.7782 23.6031V16.5549C26.8236 16.3734 26.6874 16.2373 26.5059 16.2373Z"
                          fill="#06C755">
                    </path>
                    <path opacity="0.08" d="M46.2 0H44V44H46.2V0Z" fill="black"></path>
                    <text class="clickableDivText" x="155" y="28" text-anchor="middle">Sign up with LINE</text>
                </svg>
            <!-- </a> -->
        </div>
        <!-- LINE BUTTON End -->

        <!--  LINE CONNECTION INDICATOR Start -->
        <div id="lineindication" class="socialplus-login-button-component" style="display:none;">
            <svg width="280" height="44" viewBox="0 0 280 44" fill="white" xmlns="http://www.w3.org/2000/svg"
                 class="socialplus-login-button-image">
                <rect id="lineConnectionColor" width="280" height="44" rx="8.063" fill="#808080"></rect>
                <path d="M38.1371 19.7159C38.1371 12.5013 30.8922 6.61768 21.9987 6.61768C13.1052 6.61768 5.86035 12.4862 5.86035 19.7159C5.86035 26.1894 11.6078 31.6042 19.3518 32.6327C19.8812 32.7537 20.5921 32.9806 20.7736 33.4343C20.94 33.8427 20.8795 34.4779 20.819 34.8863C20.819 34.8863 20.6223 36.0207 20.5921 36.2627C20.5165 36.6711 20.2745 37.8508 21.9836 37.1399C23.7078 36.4139 31.2703 31.6647 34.6583 27.7776C37.0027 25.2063 38.1371 22.6048 38.1371 19.7159Z"
                      fill="white"></path>
                <path d="M32.7678 23.8904H28.2455C28.0791 23.8904 27.943 23.7543 27.943 23.5879V16.5548C27.943 16.3884 28.0791 16.2523 28.2455 16.2523H32.7678C32.9342 16.2523 33.0703 16.3884 33.0703 16.5548V17.7043C33.0703 17.8707 32.9342 18.0068 32.7678 18.0068H29.6823V19.2017H32.7678C32.9342 19.2017 33.0703 19.3378 33.0703 19.5042V20.6537C33.0703 20.8201 32.9342 20.9562 32.7678 20.9562H29.6823V22.1511H32.7678C32.9342 22.1511 33.0703 22.2872 33.0703 22.4536V23.6031C33.0703 23.7543 32.9342 23.8904 32.7678 23.8904Z"
                      fill="#06C755"></path>
                <path d="M15.994 23.8905C16.1604 23.8905 16.2965 23.7544 16.2965 23.588V22.4385C16.2965 22.2721 16.1604 22.136 15.994 22.136H12.9085V16.5398C12.9085 16.3734 12.7724 16.2373 12.606 16.2373H11.4565C11.2901 16.2373 11.154 16.3734 11.154 16.5398V23.5729C11.154 23.7393 11.2901 23.8754 11.4565 23.8754H15.994V23.8905Z"
                      fill="#06C755"></path>

                <path d="M18.7162 16.2373H17.5667C17.4003 16.2373 17.2642 16.3734 17.2642 16.5398V23.588C17.2642 23.7544 17.4003 23.8905 17.5667 23.8905H18.7162C18.8825 23.8905 19.0187 23.7544 19.0187 23.588V16.5398C19.0338 16.3734 18.8977 16.2373 18.7162 16.2373Z"
                      fill="#06C755"></path>

                <path d="M26.5059 16.2373H25.3564C25.1901 16.2373 25.0539 16.3734 25.0539 16.5398V20.7294L21.8323 16.3734C21.8323 16.3583 21.8172 16.3583 21.8021 16.3431L21.7869 16.328L21.7718 16.3129C21.7718 16.3129 21.7718 16.3129 21.7567 16.3129L21.7416 16.2978C21.7416 16.2978 21.7416 16.2978 21.7264 16.2978C21.7264 16.2978 21.7113 16.2978 21.7113 16.2826C21.7113 16.2826 21.7113 16.2826 21.6962 16.2826C21.6962 16.2826 21.6811 16.2826 21.6811 16.2675C21.6811 16.2675 21.6811 16.2675 21.6659 16.2675H21.6508C21.6508 16.2675 21.6508 16.2675 21.6357 16.2675H21.6206H21.6054H21.5903H21.5752C21.5752 16.2675 21.5752 16.2675 21.5601 16.2675H20.4257C20.2593 16.2675 20.1232 16.4036 20.1232 16.57V23.6183C20.1232 23.7846 20.2593 23.9208 20.4257 23.9208H21.5752C21.7416 23.9208 21.8777 23.7846 21.8777 23.6183V19.4438L25.0993 23.7998C25.1144 23.83 25.1447 23.8603 25.1749 23.8754L25.1901 23.8905C25.1901 23.8905 25.1901 23.8905 25.2052 23.8905H25.2203H25.2354C25.2354 23.8905 25.2354 23.8905 25.2506 23.8905H25.2657C25.2959 23.8905 25.3111 23.9056 25.3413 23.9056H26.4757C26.6421 23.9056 26.7782 23.7695 26.7782 23.6031V16.5549C26.8236 16.3734 26.6874 16.2373 26.5059 16.2373Z"
                      fill="#06C755">
                </path>
                <path opacity="0.08" d="M46.2 0H44V44H46.2V0Z" fill="black"></path>

                <text id="lineConnectionText" x="155" y="28" text-anchor="middle">Not Connected</text>
            </svg>
        </div>
    </div>
    <div class="form-container">
        <header class="section-header">
            <h1 class="section-header__title">{{ 'customer.register.title' | t }}</h1>
        </header>

        <!-- FORM Start -->
        <div class="form-vertical">
            {%- form 'create_customer' -%}

                {{ form.errors | default_errors }}
                <input type="text" class="parallel" id="line_user_id" name="customer[line_user_id]"
                       style="display:none;" hidden>

                <div class="field-wrap">
                    <input type="text" name="customer[first_name]" id="FirstName"
                           class="field-input input-full parallel"{% if form.first_name %} value="{{ form.first_name }}"{% endif %}
                           autocapitalize="words" placeholder="{{ 'custom.registration.first_name' | t }} *" autofocus required oninput="setCustomValidity('')" oninvalid="this.setCustomValidity('โปรดกรอกข้อมูลให้ครบถ้วน')">
                    <input type="text" name="customer[last_name]" id="LastName"
                           class="field-input input-full parallel"{% if form.last_name %} value="{{ form.last_name }}"{% endif %}
                           autocapitalize="words" placeholder="{{ 'custom.registration.last_name' | t }} *" required oninput="setCustomValidity('')" oninvalid="this.setCustomValidity('โปรดกรอกข้อมูลให้ครบถ้วน')">
                </div>
                <div class="field-wrap">
                  <input type="text" name="birthdate" id="birthdate" placeholder="{{ 'custom.registration.birthdate' | t }} *">
                    <div class="field-select">
                        <select id="Gender" name="gender" class="field-input input-full parallel" required oninput="setCustomValidity('')" oninvalid="this.setCustomValidity('โปรดกรอกข้อมูลให้ครบถ้วน')">
                            <option value="" disabled selected hidden>{{ 'custom.gender.gender' | t }} *</option>
                            <option value="Male">{{ 'custom.gender.male' | t }}</option>
                            <option value="Female">{{ 'custom.gender.female' | t }}</option>
                        </select>
                    </div>
                </div>
                <div class="field-wrap">
                    <input type="number" name="customer[metafields][custom][telephone]" id="Telephone"
                           class="field-input input-full" value="{{ customer.metafields.custom.telephone }}"
                           max="9999999999" maxlength="10" placeholder="{{ 'custom.registration.telephone' | t }}" onfocus="(this.type='number')"
                           onblur="(this.type='text')">
                    <input type="email" name="customer[email]" id="Email"
                           class="field-input input-full parallel {% if form.errors contains 'email' %} error{% endif %}"{% if form.email %} value="{{ form.email }}"{% endif %}
                           autocorrect="off" autocapitalize="off" placeholder="{{ 'custom.registration.email_address' | t }} *" required oninput="setCustomValidity('')" oninvalid="this.setCustomValidity('โปรดกรอกข้อมูลให้ครบถ้วน')">
                </div>
                <div class="field-wrap">
                    <input type="password" name="customer[password]" id="CreatePassword"
                           class="field-input field-input-pass input-full parallel {% if form.errors contains 'password' %} error{% endif %}"
                           placeholder="{{ 'custom.registration.password' | t }} *" required oninput="setCustomValidity('')" oninvalid="this.setCustomValidity('โปรดกรอกข้อมูลให้ครบถ้วน')">
                </div>
                <div class="field-wrap">
                    <input type="text" name="shop_name" id="Shop-name" class="field-input input-full parallel"
                           maxlength="50" placeholder="{{ 'custom.registration.shop_name' | t }} *" required oninput="setCustomValidity('')" oninvalid="this.setCustomValidity('โปรดกรอกข้อมูลให้ครบถ้วน')">
                    <input type="number" name="branch_number" id="Branch-number" class="field-input input-full parallel"
                           max="99" maxlength="2" placeholder="{{ 'custom.registration.branch_number' | t }}" onfocus="(this.type='number')"
                           onblur="(this.type='text')">
                </div>

                <div class="field-wrap">
                    <div class="field-radio field-radio-hor">
                        <label>{{ 'custom.shop_group.shop_group' | t }} *</label>
                        <div class="field-radio-wrap">
                            <div class="field-radio-child">
                                <input type="radio" name="customer[tags]" id="customer_type_food_vendor" class="input-full Shop-group parallel-shop-group" value="Food Vendor" required checked>
                                <span>{{ 'custom.shop_group.food_vendor' | t }}</span>
                            </div>
                            <div class="field-radio-child">
                                <input type="radio" name="customer[tags]" id="customer_type_retailer" class="input-full Shop-group parallel-shop-group" value="Retailer" required>
                                <span>{{ 'custom.shop_group.retailer' | t }}</span>
                            </div>
                        </div>
                    </div>

                    <div id="Shop-group-retailer" style="display: none;">
                        <label>{{ 'custom.shop_type.shop_type' | t }} *</label>
                        <input type="checkbox" name="shop_type" class="input-full  parallel-shop-type"
                               value="Beverage store"> <span>{{ 'custom.shop_type.beverage_store' | t }}</span><br>
                        <input type="checkbox" name="shop_type" class="input-full  parallel-shop-type"
                               value="Candy and snack store"> <span>{{ 'custom.shop_type.candy_and_snack_store' | t }}</span><br>
                        <input type="checkbox" name="shop_type" class="input-full  parallel-shop-type"
                               value="Condiment store"> <span>{{ 'custom.shop_type.condiment_store' | t }}</span><br>
                    </div>
                    <div id="Shop-group-fv">
                        <label>{{ 'custom.shop_type.shop_type' | t }} *</label>
                        <input type="checkbox" name="shop_type" class="input-full  parallel-shop-type"
                               value="A la carte shop"> <span>{{ 'custom.shop_type.a_la_carte_shop' | t }}</span><br>
                        <input type="checkbox" name="shop_type" class="input-full  parallel-shop-type"
                               value="Rice and curry restaurant"> <span>{{ 'custom.shop_type.rice_and_curry_restaurant' | t }}</span><br>
                        <input type="checkbox" name="shop_type" class="input-full  parallel-shop-type"
                               value="Isaan restaurant"> <span>{{ 'custom.shop_type.isaan_restaurant' | t }}</span><br>
                        <input type="checkbox" name="shop_type" class="input-full  parallel-shop-type"
                               value="Yum restaurant"> <span>{{ 'custom.shop_type.yum_restaurant' | t }}</span><br>
                        <input type="checkbox" name="shop_type" class="input-full  parallel-shop-type"
                               value="Noodle shop"> <span>{{ 'custom.shop_type.noodle_shop' | t }}</span><br>
                        <input type="checkbox" name="shop_type" class="input-full  parallel-shop-type" value="Others">
                        <span>{{ 'custom.shop_type.others' | t }}</span><br>
                    </div>
                </div>
                <div class="field-wrap">
                    <div class="field-select">
                        <select id="Province" name="provinces" class="field-input input-full parallel" required>
                            <option value="" disabled selected hidden>{{ 'custom.province.province' | t }}</option>
                            <option value="Bangkok">{{ 'custom.province.bangkok' | t }}</option>
                            <option value="Amnat Charoen">{{ 'custom.province.amnat_charoen' | t }}</option>
                            <option value="Ang Thong">{{ 'custom.province.ang_thong' | t }}</option>
                            <option value="Bueng Kan">{{ 'custom.province.bueng_kan' | t }}</option>
                            <option value="Buriram">{{ 'custom.province.buriram' | t }}</option>
                            <option value="Chachoengsao">{{ 'custom.province.chachoengsao' | t }}</option>
                            <option value="Chai Nat">{{ 'custom.province.chai_nat' | t }}</option>
                            <option value="Chaiyaphum">{{ 'custom.province.chaiyaphum' | t }}</option>
                            <option value="Chanthaburi">{{ 'custom.province.chanthaburi' | t }}</option>
                            <option value="Chiang Mai">{{ 'custom.province.chiang_mai' | t }}</option>
                            <option value="Chiang Rai">{{ 'custom.province.chiang_rai' | t }}</option>
                            <option value="Chonburi">{{ 'custom.province.chonburi' | t }}</option>
                            <option value="Chumphon">{{ 'custom.province.chumphon' | t }}</option>
                            <option value="Kalasin">{{ 'custom.province.kalasin' | t }}</option>
                            <option value="Kamphaeng Phet">{{ 'custom.province.kamphaeng_phet' | t }}</option>
                            <option value="Kanchanaburi">{{ 'custom.province.kanchanaburi' | t }}</option>
                            <option value="Khon Kaen">{{ 'custom.province.khon_kaen' | t }}</option>
                            <option value="Krabi">{{ 'custom.province.krabi' | t }}</option>
                            <option value="Lampang">{{ 'custom.province.lampang' | t }}</option>
                            <option value="Lamphun">{{ 'custom.province.lamphun' | t }}</option>
                            <option value="Loei">{{ 'custom.province.loei' | t }}</option>
                            <option value="Lopburi">{{ 'custom.province.lopburi' | t }}</option>
                            <option value="Mae Hong Son">{{ 'custom.province.mae_hong_son' | t }}</option>
                            <option value="Maha Sarakham">{{ 'custom.province.maha_sarakham' | t }}</option>
                            <option value="Mukdahan">{{ 'custom.province.mukdahan' | t }}</option>
                            <option value="Nakhon Nayok">{{ 'custom.province.nakhon_nayok' | t }}</option>
                            <option value="Nakhon Pathom">{{ 'custom.province.nakhon_pathom' | t }}</option>
                            <option value="Nakhon Phanom">{{ 'custom.province.nakhon_phanom' | t }}</option>
                            <option value="Nakhon Ratchasima">{{ 'custom.province.nakhon_ratchasima' | t }}</option>
                            <option value="Nakhon Sawan">{{ 'custom.province.nakhon_sawan' | t }}</option>
                            <option value="Nakhon Si Thammarat">{{ 'custom.province.nakhon_si_thammarat' | t }}</option>
                            <option value="Nan">{{ 'custom.province.nan' | t }}</option>
                            <option value="Narathiwat">{{ 'custom.province.narathiwat' | t }}</option>
                            <option value="Nong Bua Lamphu">{{ 'custom.province.nong_bua_lamphu' | t }}</option>
                            <option value="Nong Khai">{{ 'custom.province.nong_khai' | t }}</option>
                            <option value="Nonthaburi">{{ 'custom.province.nonthaburi' | t }}</option>
                            <option value="Pathum Thani">{{ 'custom.province.pathum_thani' | t }}</option>
                            <option value="Pattani">{{ 'custom.province.pattani' | t }}</option>
                            <option value="Phang Nga">{{ 'custom.province.phang_nga' | t }}</option>
                            <option value="Phatthalung">{{ 'custom.province.phatthalung' | t }}</option>
                            <option value="Phayao">{{ 'custom.province.phayao' | t }}</option>
                            <option value="Phetchabun">{{ 'custom.province.phetchabun' | t }}</option>
                            <option value="Phetchaburi">{{ 'custom.province.phetchaburi' | t }}</option>
                            <option value="Phichit">{{ 'custom.province.phichit' | t }}</option>
                            <option value="Phitsanulok">{{ 'custom.province.phitsanulok' | t }}</option>
                            <option value="Phra Nakhon Si Ayutthaya">{{ 'custom.province.phra_nakhin_si_ayutthaya' | t }}</option>
                            <option value="Phrae">{{ 'custom.province.phrae' | t }}</option>
                            <option value="Phuket">{{ 'custom.province.phuket' | t }}</option>
                            <option value="Prachinburi">{{ 'custom.province.prachinburi' | t }}</option>
                            <option value="Prachuap Khiri Khan">{{ 'custom.province.prachuap_khiri_khan' | t }}</option>
                            <option value="Ranong">{{ 'custom.province.ranong' | t }}</option>
                            <option value="Ratchaburi">{{ 'custom.province.ratchaburi' | t }}</option>
                            <option value="Rayong">{{ 'custom.province.rayong' | t }}</option>
                            <option value="Roi Et">{{ 'custom.province.roi_et' | t }}</option>
                            <option value="Sa Kaeo">{{ 'custom.province.sa_kaeo' | t }}</option>
                            <option value="Sakon Nakhon">{{ 'custom.province.sakon_nakhon' | t }}</option>
                            <option value="Samut Prakan">{{ 'custom.province.samut_prakan' | t }}</option>
                            <option value="Samut Sakhon">{{ 'custom.province.samut_sakhon' | t }}</option>
                            <option value="Samut Songkhram">{{ 'custom.province.samut_songkhram' | t }}</option>
                            <option value="Saraburi">{{ 'custom.province.saraburi' | t }}</option>
                            <option value="Satun">{{ 'custom.province.satun' | t }}</option>
                            <option value="SingBuri">{{ 'custom.province.sing_buri' | t }}</option>
                            <option value="Sisaket">{{ 'custom.province.sisaket' | t }}</option>
                            <option value="Songkhla">{{ 'custom.province.songkhla' | t }}</option>
                            <option value="Sukhothai">{{ 'custom.province.sukhothai' | t }}</option>
                            <option value="Suphan Buri">{{ 'custom.province.suphan_buri' | t }}</option>
                            <option value="Surat Thani">{{ 'custom.province.surat_thani' | t }}</option>
                            <option value="Surin">{{ 'custom.province.surin' | t }}</option>
                            <option value="Tak">{{ 'custom.province.tak' | t }}</option>
                            <option value="Trang">{{ 'custom.province.trang' | t }}</option>
                            <option value="Trat">{{ 'custom.province.trat' | t }}</option>
                            <option value="Ubon Ratchathani">{{ 'custom.province.ubon_ratchathani' | t }}</option>
                            <option value="Udon Thani">{{ 'custom.province.udon_thani' | t }}</option>
                            <option value="Uthai Thani">{{ 'custom.province.uthai_thani' | t }}</option>
                            <option value="Uttaradit">{{ 'custom.province.uttaradit' | t }}</option>
                            <option value="Yala">{{ 'custom.province.yala' | t }}</option>
                            <option value="Yasothon">{{ 'custom.province.yasothon' | t }}</option>
                        </select>
                    </div>
                    <input type="text" name="district" id="District" class="field-input input-full parallel"
                           autocomplete="on" placeholder="{{ 'custom.registration.district' | t }}">
                </div>
                <div class="field-wrap">
                    <input type="text" name="sub-district" id="Sub-district" class="field-input input-full parallel"
                           autocomplete="on" placeholder="{{ 'custom.registration.sub_district' | t }}">
                    <input type="text" name="address" id="Address" class="field-input input-full parallel"
                           autocomplete="on" placeholder="{{ 'custom.registration.address' | t }}">
                </div>
                <div class="field-wrap">
                    <input type="text" name="postal-code" id="Postal-code" class="field-input input-full parallel"
                           autocomplete="on" placeholder="{{ 'custom.registration.postal_code' | t }}">
                    <input type="number" name="salesman-code" id="Salesman-code" class="field-input input-full parallel" maxlength="10" max="9999999999"
                           autocomplete="on" placeholder="{{ 'custom.registration.salesman_code' | t }}">
                </div>
            <div class="field-wrap">
                <div id="Shop-group-retailer-main" style="display: block;">
                    <label>{{ 'custom.main_umami_seasoning_usage.main_umami_seasoning_usage' | t }} </label>
                    <input type="radio" name="shop_type_umami" class="input-full parallel-umami-seasoning-usage"
                           value="Ajinomoto"> <span>{{ 'custom.main_umami_seasoning_usage.ajinomoto' | t }}</span><br>
                    <input type="radio" name="shop_type_umami" class="input-full parallel-umami-seasoning-usage"
                           value="ThaiChuros"> <span>{{ 'custom.main_umami_seasoning_usage.thaichuros' | t }}</span><br>
                    <input type="radio" name="shop_type_umami" class="input-full parallel-umami-seasoning-usage"
                           value="Aro"> <span>{{ 'custom.main_umami_seasoning_usage.aro' | t }}</span><br>
                    <input type="radio" name="shop_type_umami" class="input-full parallel-umami-seasoning-usage"
                           value="Others"> <span>{{ 'custom.main_umami_seasoning_usage.others' | t }}</span><br>
                </div>

                <div id="Shop-group-fv-main" style="display: block;">
                    <label>{{ 'custom.main_flavor_seasoning_usage.main_flavor_seasoning_usage' | t }} </label>
                    <input type="radio" name="shop_type_flavor" class="input-full parallel-flavor-seasoning-usage"
                           value="Rosdee"> <span>{{ 'custom.main_flavor_seasoning_usage.rosdee' | t }}</span><br>
                    <input type="radio" name="shop_type_flavor" class="input-full parallel-flavor-seasoning-usage"
                           value="FahThai"> <span>{{ 'custom.main_flavor_seasoning_usage.fahhtai' | t }}</span><br>
                    <input type="radio" name="shop_type_flavor" class="input-full parallel-flavor-seasoning-usage"
                           value="Knorr"> <span>{{ 'custom.main_flavor_seasoning_usage.knorr' | t }}</span><br>
                    <input type="radio" name="shop_type_flavor" class="input-full parallel-flavor-seasoning-usage"
                           value="Termthip"> <span>{{ 'custom.main_flavor_seasoning_usage.termthip' | t }}</span><br>
                    <input type="radio" name="shop_type_flavor" class="input-full parallel-flavor-seasoning-usage"
                           value="Others"> <span>{{ 'custom.main_flavor_seasoning_usage.others' | t }}</span><br>
                </div>
            </div>
                <div style="margin-top: 40px;">
                <input type="checkbox" name="shop_type" class="input-full"
                       value="accept_checkbox" required> <span>{{ 'custom.registration.I_accept_the_privacy_policy' | t }}</span><a href="https://ajinomotosalesth.com/policies/privacy-policy" target="_blank">{{ 'custom.registration.I_accept_the_privacy_policy_link' | t }}</a><br>
                </div>

                <section class="form-account">
                    <div class="form-account-login">
                        <div class="form-account-login-create">
                            <label for="register-submit"
                                   class="hidden-label">{{ 'customer.register.submit' | t }}</label>
                            <input type="submit" id="register-submit" value="{{ 'customer.register.submit' | t }}"
                                   class="btn btn--full login-create-btn">
                        </div>
                    </div>
                    <p class="form-account-text"><a href="/account/login">{{ 'custom.registration.back_to_login' | t }}</a></p>
                </section>

            {%- endform -%}
        </div>
    </div>
    <div id="textreads" style="display:none;">
        <span id="swal_shop_type_select">{{ 'custom.registration.swal_shop_type_select' | t }}</span>
        <span id="swal_shop_type_description">{{ 'custom.registration.swal_shop_type_description' | t }}</span>
        <span id="swal_shop_type_confirm">{{ 'custom.registration.swal_shop_type_confirm' | t }}</span>
        <span id="swal_shop_type_deny">{{ 'custom.registration.swal_shop_type_deny' | t }}</span>
        <span id="swal_shop_type_cancel">{{ 'custom.registration.swal_shop_type_cancel' | t }}</span>
    </div>
</div>
<!-- FORM End -->

<script>
  $( function() {
    $( "#birthdate" ).datepicker({
  dateFormat: "dd/mm/yy"
});
  } );

</script>

<script>
    const group1 = document.getElementsByName('customer[tags]');
    const options1 = document.getElementById('Shop-group-retailer-main');
    const options2 = document.getElementById('Shop-group-fv-main');

    function toggleOptions() {
        if (group1[0].checked) {
            options1.style.display = 'block';
            options2.style.display = 'block';
        } else if (group1[1].checked) {
            options1.style.display = 'none';
            options2.style.display = 'none';
        }
    }

    group1.forEach((radio) => {
        radio.addEventListener('change', toggleOptions);
    });
</script>

<script>
    const group1a = document.getElementsByName('customer[tags]');
    const options1a = document.getElementById('Shop-group-fv');
    const options2a = document.getElementById('Shop-group-retailer');

    function toggleOptions() {
        if (group1a[0].checked) {
            options1a.style.display = 'block';
            options2a.style.display = 'none';
        } else if (group1[1].checked) {
            options1a.style.display = 'none';
            options2a.style.display = 'block';
        }
    }

    group1a.forEach((radio) => {
        radio.addEventListener('change', toggleOptions);
    });
</script>

<script>
  function showDatePicker() {
    // Create a new date input element
    var datePicker = document.createElement('input');
    datePicker.type = 'date';
    datePicker.name = 'birthdate';
    datePicker.id = 'birthdate';
    datePicker.className = 'field-input field-input-date input-full parallel';
    datePicker.required = true;

    // Replace the placeholder input with the date picker
    var placeholderInput = document.getElementById('birthdate');
    placeholderInput.parentNode.replaceChild(datePicker, placeholderInput);

    // Automatically focus on the date picker
    datePicker.focus();
  }
</script>

<script src="{{ 'customcode-registration.js' | asset_url }}"></script>
