<div class="page-width page-content reg-page-content">
    <div class="form-account-login-line" style="text-align: center; margin-bottom: 3rem;">
        <!-- LINE BUTTON Start -->

        <div id="signuplinebtn" class="socialplus-login-button-component clickableDiv" >
            <!-- <a id="loginLineURL" class="" href=""> -->
                <svg width="280" height="44" viewBox="0 0 280 44" fill="white" xmlns="http://www.w3.org/2000/svg"
                     class="socialplus-login-button-image">
                    <rect width="280" height="44" rx="8.063" fill="#06C755"></rect>
                    <path d="M38.1371 19.7159C38.1371 12.5013 30.8922 6.61768 21.9987 6.61768C13.1052 6.61768 5.86035 12.4862 5.86035 19.7159C5.86035 26.1894 11.6078 31.6042 19.3518 32.6327C19.8812 32.7537 20.5921 32.9806 20.7736 33.4343C20.94 33.8427 20.8795 34.4779 20.819 34.8863C20.819 34.8863 20.6223 36.0207 20.5921 36.2627C20.5165 36.6711 20.2745 37.8508 21.9836 37.1399C23.7078 36.4139 31.2703 31.6647 34.6583 27.7776C37.0027 25.2063 38.1371 22.6048 38.1371 19.7159Z"
                          fill="white"></path>
                    <path d="M32.7678 23.8904H28.2455C28.0791 23.8904 27.943 23.7543 27.943 23.5879V16.5548C27.943 16.3884 28.0791 16.2523 28.2455 16.2523H32.7678C32.9342 16.2523 33.0703 16.3884 33.0703 16.5548V17.7043C33.0703 17.8707 32.9342 18.0068 32.7678 18.0068H29.6823V19.2017H32.7678C32.9342 19.2017 33.0703 19.3378 33.0703 19.5042V20.6537C33.0703 20.8201 32.9342 20.9562 32.7678 20.9562H29.6823V22.1511H32.7678C32.9342 22.1511 33.0703 22.2872 33.0703 22.4536V23.6031C33.0703 23.7543 32.9342 23.8904 32.7678 23.8904Z"
                          fill="#06C755"></path>
                    <path d="M15.994 23.8905C16.1604 23.8905 16.2965 23.7544 16.2965 23.588V22.4385C16.2965 22.2721 16.1604 22.136 15.994 22.136H12.9085V16.5398C12.9085 16.3734 12.7724 16.2373 12.606 16.2373H11.4565C11.2901 16.2373 11.154 16.3734 11.154 16.5398V23.5729C11.154 23.7393 11.2901 23.8754 11.4565 23.8754H15.994V23.8905Z"
                          fill="#06C755"></path>

                    <path d="M18.7162 16.2373H17.5667C17.4003 16.2373 17.2642 16.3734 17.2642 16.5398V23.588C17.2642 23.7544 17.4003 23.8905 17.5667 23.8905H18.7162C18.8825 23.8905 19.0187 23.7544 19.0187 23.588V16.5398C19.0338 16.3734 18.8977 16.2373 18.7162 16.2373Z"
                          fill="#06C755"></path>

                    <path d="M26.5059 16.2373H25.3564C25.1901 16.2373 25.0539 16.3734 25.0539 16.5398V20.7294L21.8323 16.3734C21.8323 16.3583 21.8172 16.3583 21.8021 16.3431L21.7869 16.328L21.7718 16.3129C21.7718 16.3129 21.7718 16.3129 21.7567 16.3129L21.7416 16.2978C21.7416 16.2978 21.7416 16.2978 21.7264 16.2978C21.7264 16.2978 21.7113 16.2978 21.7113 16.2826C21.7113 16.2826 21.7113 16.2826 21.6962 16.2826C21.6962 16.2826 21.6811 16.2826 21.6811 16.2675C21.6811 16.2675 21.6811 16.2675 21.6659 16.2675H21.6508C21.6508 16.2675 21.6508 16.2675 21.6357 16.2675H21.6206H21.6054H21.5903H21.5752C21.5752 16.2675 21.5752 16.2675 21.5601 16.2675H20.4257C20.2593 16.2675 20.1232 16.4036 20.1232 16.57V23.6183C20.1232 23.7846 20.2593 23.9208 20.4257 23.9208H21.5752C21.7416 23.9208 21.8777 23.7846 21.8777 23.6183V19.4438L25.0993 23.7998C25.1144 23.83 25.1447 23.8603 25.1749 23.8754L25.1901 23.8905C25.1901 23.8905 25.1901 23.8905 25.2052 23.8905H25.2203H25.2354C25.2354 23.8905 25.2354 23.8905 25.2506 23.8905H25.2657C25.2959 23.8905 25.3111 23.9056 25.3413 23.9056H26.4757C26.6421 23.9056 26.7782 23.7695 26.7782 23.6031V16.5549C26.8236 16.3734 26.6874 16.2373 26.5059 16.2373Z"
                          fill="#06C755">
                    </path>
                    <path opacity="0.08" d="M46.2 0H44V44H46.2V0Z" fill="black"></path>
                    <text class="clickableDivText" x="155" y="28" text-anchor="middle">Sign up with LINE</text>
                </svg>
            <!-- </a> -->
        </div>
        <!-- LINE BUTTON End -->

        <!--  LINE CONNECTION INDICATOR Start -->
        <div id="lineindication" class="socialplus-login-button-component" style="display:none;">
            <svg width="280" height="44" viewBox="0 0 280 44" fill="white" xmlns="http://www.w3.org/2000/svg"
                 class="socialplus-login-button-image">
                <rect id="lineConnectionColor" width="280" height="44" rx="8.063" fill="#808080"></rect>
                <path d="M38.1371 19.7159C38.1371 12.5013 30.8922 6.61768 21.9987 6.61768C13.1052 6.61768 5.86035 12.4862 5.86035 19.7159C5.86035 26.1894 11.6078 31.6042 19.3518 32.6327C19.8812 32.7537 20.5921 32.9806 20.7736 33.4343C20.94 33.8427 20.8795 34.4779 20.819 34.8863C20.819 34.8863 20.6223 36.0207 20.5921 36.2627C20.5165 36.6711 20.2745 37.8508 21.9836 37.1399C23.7078 36.4139 31.2703 31.6647 34.6583 27.7776C37.0027 25.2063 38.1371 22.6048 38.1371 19.7159Z"
                      fill="white"></path>
                <path d="M32.7678 23.8904H28.2455C28.0791 23.8904 27.943 23.7543 27.943 23.5879V16.5548C27.943 16.3884 28.0791 16.2523 28.2455 16.2523H32.7678C32.9342 16.2523 33.0703 16.3884 33.0703 16.5548V17.7043C33.0703 17.8707 32.9342 18.0068 32.7678 18.0068H29.6823V19.2017H32.7678C32.9342 19.2017 33.0703 19.3378 33.0703 19.5042V20.6537C33.0703 20.8201 32.9342 20.9562 32.7678 20.9562H29.6823V22.1511H32.7678C32.9342 22.1511 33.0703 22.2872 33.0703 22.4536V23.6031C33.0703 23.7543 32.9342 23.8904 32.7678 23.8904Z"
                      fill="#06C755"></path>
                <path d="M15.994 23.8905C16.1604 23.8905 16.2965 23.7544 16.2965 23.588V22.4385C16.2965 22.2721 16.1604 22.136 15.994 22.136H12.9085V16.5398C12.9085 16.3734 12.7724 16.2373 12.606 16.2373H11.4565C11.2901 16.2373 11.154 16.3734 11.154 16.5398V23.5729C11.154 23.7393 11.2901 23.8754 11.4565 23.8754H15.994V23.8905Z"
                      fill="#06C755"></path>

                <path d="M18.7162 16.2373H17.5667C17.4003 16.2373 17.2642 16.3734 17.2642 16.5398V23.588C17.2642 23.7544 17.4003 23.8905 17.5667 23.8905H18.7162C18.8825 23.8905 19.0187 23.7544 19.0187 23.588V16.5398C19.0338 16.3734 18.8977 16.2373 18.7162 16.2373Z"
                      fill="#06C755"></path>

                <path d="M26.5059 16.2373H25.3564C25.1901 16.2373 25.0539 16.3734 25.0539 16.5398V20.7294L21.8323 16.3734C21.8323 16.3583 21.8172 16.3583 21.8021 16.3431L21.7869 16.328L21.7718 16.3129C21.7718 16.3129 21.7718 16.3129 21.7567 16.3129L21.7416 16.2978C21.7416 16.2978 21.7416 16.2978 21.7264 16.2978C21.7264 16.2978 21.7113 16.2978 21.7113 16.2826C21.7113 16.2826 21.7113 16.2826 21.6962 16.2826C21.6962 16.2826 21.6811 16.2826 21.6811 16.2675C21.6811 16.2675 21.6811 16.2675 21.6659 16.2675H21.6508C21.6508 16.2675 21.6508 16.2675 21.6357 16.2675H21.6206H21.6054H21.5903H21.5752C21.5752 16.2675 21.5752 16.2675 21.5601 16.2675H20.4257C20.2593 16.2675 20.1232 16.4036 20.1232 16.57V23.6183C20.1232 23.7846 20.2593 23.9208 20.4257 23.9208H21.5752C21.7416 23.9208 21.8777 23.7846 21.8777 23.6183V19.4438L25.0993 23.7998C25.1144 23.83 25.1447 23.8603 25.1749 23.8754L25.1901 23.8905C25.1901 23.8905 25.1901 23.8905 25.2052 23.8905H25.2203H25.2354C25.2354 23.8905 25.2354 23.8905 25.2506 23.8905H25.2657C25.2959 23.8905 25.3111 23.9056 25.3413 23.9056H26.4757C26.6421 23.9056 26.7782 23.7695 26.7782 23.6031V16.5549C26.8236 16.3734 26.6874 16.2373 26.5059 16.2373Z"
                      fill="#06C755">
                </path>
                <path opacity="0.08" d="M46.2 0H44V44H46.2V0Z" fill="black"></path>

                <text id="lineConnectionText" x="155" y="28" text-anchor="middle">Not Connected</text>
            </svg>
        </div>
    </div>
    <div class="form-container">
        <header class="section-header">
            <h1 class="section-header__title">{{ 'customer.register.title' | t }}</h1>
        </header>

        <!-- FORM Start -->
        <div class="form-vertical">
            {%- form 'create_customer' -%}

                {{ form.errors | default_errors }}
                <input type="text" class="parallel" id="line_user_id" name="customer[line_user_id]" style="display: none;" >

                <div class="field-wrap">
                    <input type="text" name="customer[first_name]" id="FirstName"
                           class="field-input input-full parallel"{% if form.first_name %} value="{{ form.first_name }}"{% endif %}
                           autocapitalize="words" placeholder="{{ 'custom.registration.first_name' | t }} *" autofocus required oninput="setCustomValidity('')" oninvalid="this.setCustomValidity('โปรดกรอกข้อมูลให้ครบถ้วน')">
                    <input type="text" name="customer[last_name]" id="LastName"
                           class="field-input input-full parallel"{% if form.last_name %} value="{{ form.last_name }}"{% endif %}
                           autocapitalize="words" placeholder="{{ 'custom.registration.last_name' | t }} *" required oninput="setCustomValidity('')" oninvalid="this.setCustomValidity('โปรดกรอกข้อมูลให้ครบถ้วน')">
                </div>
                <div class="field-wrap">
                  <input type="text" name="birthdate" id="birthdate" placeholder="{{ 'custom.registration.birthdate' | t }}">
                    <div class="field-select">
                        <select id="Gender" name="gender" class="field-input input-full parallel" required oninput="setCustomValidity('')" oninvalid="this.setCustomValidity('โปรดกรอกข้อมูลให้ครบถ้วน')">
                            <option value="" disabled selected hidden>{{ 'custom.gender.gender' | t }} *</option>
                            <option value="Male">{{ 'custom.gender.male' | t }}</option>
                            <option value="Female">{{ 'custom.gender.female' | t }}</option>
                        </select>
                    </div>
                </div>
                <div class="field-wrap">
                    <input type="number" name="customer[metafields][custom][telephone]" id="Telephone"
                           class="field-input input-full" value="{{ customer.metafields.custom.telephone }}"
                           max="9999999999" maxlength="10" placeholder="{{ 'custom.registration.telephone' | t }}" onfocus="(this.type='number')"
                           onblur="(this.type='text')">
                    <input type="email" name="customer[email]" id="Email"
                           class="field-input input-full parallel {% if form.errors contains 'email' %} error{% endif %}"{% if form.email %} value="{{ form.email }}"{% endif %}
                           autocorrect="off" autocapitalize="off" placeholder="{{ 'custom.registration.email_address' | t }} *" required oninput="setCustomValidity('')" oninvalid="this.setCustomValidity('โปรดกรอกข้อมูลให้ครบถ้วน')">
                </div>


<div class="field-wrap">
	<div class="field-pass-container">
		<input type="password" name="customer[password]" id="CreatePassword"
		class="field-input field-input-pass input-full parallel {% if form.errors contains 'password' %} error{% endif %}"
		placeholder="{{ 'custom.registration.password' | t }} *" required oninput="setCustomValidity('')" oninvalid="this.setCustomValidity('โปรดกรอกข้อมูลให้ครบถ้วน')">
		<img src="https://cdn.shopify.com/s/files/1/0752/7333/9195/files/eyebrow.png" class="trigger" onclick="togglePasswordVisibility()">
	</div>
</div>

<script>
function togglePasswordVisibility() {
  var passwordInput = document.getElementById('CreatePassword');
  var triggerImage = document.querySelector('.trigger');

  if (passwordInput.type === 'password') {
    passwordInput.type = 'text';
    triggerImage.src = 'https://cdn.shopify.com/s/files/1/0752/7333/9195/files/eyes.png';
  } else {
    passwordInput.type = 'password';
    triggerImage.src = 'https://cdn.shopify.com/s/files/1/0752/7333/9195/files/eyebrow.png';
  }
}
</script>



                <div class="field-wrap">
                    <input type="text" name="shop_name" id="Shop-name" class="field-input input-full parallel"
                           maxlength="50" placeholder="{{ 'custom.registration.shop_name' | t }} *" required oninput="setCustomValidity('')" oninvalid="this.setCustomValidity('โปรดกรอกข้อมูลให้ครบถ้วน')">
                    <input type="number" name="branch_number" id="Branch-number" class="field-input input-full parallel"
                           max="99" maxlength="2" placeholder="{{ 'custom.registration.branch_number' | t }}" onfocus="(this.type='number')"
                           onblur="(this.type='text')">
                </div>

                <div class="field-wrap">
                    <div class="field-radio field-radio-hor">
                        <label>{{ 'custom.shop_group.shop_group' | t }} *</label>
                        <div class="field-radio-wrap">
                            <div class="field-radio-child">
                                <input type="radio" name="customer[tags]" id="customer_type_food_vendor" class="input-full Shop-group parallel-shop-group" value="Food Vendor" required checked>
                                <span>{{ 'custom.shop_group.food_vendor' | t }}</span>
                            </div>
                            <div class="field-radio-child">
                                <input type="radio" name="customer[tags]" id="customer_type_retailer" class="input-full Shop-group parallel-shop-group" value="Retailer" required>
                                <span>{{ 'custom.shop_group.retailer' | t }}</span>
                            </div>
                        </div>
                    </div>

                    <div id="Shop-group-retailer" style="display: none;">
                        <label>{{ 'custom.shop_type.shop_type' | t }} *</label>
                        <input type="checkbox" name="shop_type" class="input-full  parallel-shop-type"
                               value="Beverage store"> <span>{{ 'custom.shop_type.beverage_store' | t }}</span><br>
                        <input type="checkbox" name="shop_type" class="input-full  parallel-shop-type"
                               value="Candy and snack store"> <span>{{ 'custom.shop_type.candy_and_snack_store' | t }}</span><br>
                        <input type="checkbox" name="shop_type" class="input-full  parallel-shop-type"
                               value="Condiment store"> <span>{{ 'custom.shop_type.condiment_store' | t }}</span><br>
                    </div>
                    <div id="Shop-group-fv">
                        <label>{{ 'custom.shop_type.shop_type' | t }} *</label>
                        <input type="checkbox" name="shop_type" class="input-full  parallel-shop-type"
                               value="A la carte shop"> <span>{{ 'custom.shop_type.a_la_carte_shop' | t }}</span><br>
                        <input type="checkbox" name="shop_type" class="input-full  parallel-shop-type"
                               value="Rice and curry restaurant"> <span>{{ 'custom.shop_type.rice_and_curry_restaurant' | t }}</span><br>
                        <input type="checkbox" name="shop_type" class="input-full  parallel-shop-type"
                               value="Isaan restaurant"> <span>{{ 'custom.shop_type.isaan_restaurant' | t }}</span><br>
                        <input type="checkbox" name="shop_type" class="input-full  parallel-shop-type"
                               value="Yum restaurant"> <span>{{ 'custom.shop_type.yum_restaurant' | t }}</span><br>
                        <input type="checkbox" name="shop_type" class="input-full  parallel-shop-type"
                               value="Noodle shop"> <span>{{ 'custom.shop_type.noodle_shop' | t }}</span><br>
                        <input type="checkbox" name="shop_type" class="input-full  parallel-shop-type" value="Others">
                        <span>{{ 'custom.shop_type.others' | t }}</span><br>
                    </div>
                </div>

                <div class="field-wrap">
                  <div class="field-select">
                    <select id="Province" name="provinces" class="field-input input-full parallel" required>
                      <option value="" disabled selected hidden>{{ 'custom.province.province' | t }}</option>
                      <option value="Lop Buri">{{ 'custom.province.16' | t }}</option>
                      <option value="Sing Buri">{{ 'custom.province.17' | t }}</option>
                      <option value="Saraburi">{{ 'custom.province.19' | t }}</option>
                      <option value="Ratchaburi">{{ 'custom.province.70' | t }}</option>
                      <option value="Samut Sakhon">{{ 'custom.province.74' | t }}</option>
                      <option value="Samut Songkhram">{{ 'custom.province.75' | t }}</option>
                      <option value="Bangkok">{{ 'custom.province.10' | t }}</option>
                      <option value="Samut Prakan">{{ 'custom.province.11' | t }}</option>
                      <option value="Pathum Thani">{{ 'custom.province.13' | t }}</option>
                      <option value="Nonthaburi">{{ 'custom.province.12' | t }}</option>
                    </select>
                  </div>
                    <select id="District" name="district" class="field-input input-full parallel" required>
                      <option value="" disabled selected hidden>{{ 'custom.registration.district' | t }}</option>
                    </select>
                </div>

                <div class="field-wrap">
                  <select id="Sub_district" name="sub_district" class="field-input input-full parallel" required>
                    <option value="" disabled selected hidden>{{ 'custom.registration.sub_district' | t }}</option>
                  </select>
                    <input type="text" name="address" id="Address" class="field-input input-full parallel"
                           autocomplete="on" placeholder="{{ 'custom.registration.address' | t }}">
                </div>

                <div class="field-wrap">
                    <input type="text" name="postal-code" id="Postal-code" class="field-input input-full parallel"
                           autocomplete="on" placeholder="{{ 'custom.registration.postal_code' | t }}">
                    <input type="number" name="salesman-code" id="Salesman-code" class="field-input input-full parallel" maxlength="10" max="9999999999"
                           autocomplete="on" placeholder="{{ 'custom.registration.salesman_code' | t }}">
                </div>

            <div class="field-wrap">
                <div id="Shop-group-retailer-main" style="display: block;">
                    <label>{{ 'custom.main_umami_seasoning_usage.main_umami_seasoning_usage' | t }} </label>
                    <input type="radio" name="shop_type_umami" class="input-full parallel-umami-seasoning-usage"
                           value="Ajinomoto"> <span>{{ 'custom.main_umami_seasoning_usage.ajinomoto' | t }}</span><br>
                    <input type="radio" name="shop_type_umami" class="input-full parallel-umami-seasoning-usage"
                           value="ThaiChuros"> <span>{{ 'custom.main_umami_seasoning_usage.thaichuros' | t }}</span><br>
                    <input type="radio" name="shop_type_umami" class="input-full parallel-umami-seasoning-usage"
                           value="Aro"> <span>{{ 'custom.main_umami_seasoning_usage.aro' | t }}</span><br>
                    <input type="radio" name="shop_type_umami" class="input-full parallel-umami-seasoning-usage"
                           value="Others"> <span>{{ 'custom.main_umami_seasoning_usage.others' | t }}</span><br>
                </div>

                <div id="Shop-group-fv-main" style="display: block;">
                    <label>{{ 'custom.main_flavor_seasoning_usage.main_flavor_seasoning_usage' | t }} </label>
                    <input type="radio" name="shop_type_flavor" class="input-full parallel-flavor-seasoning-usage"
                           value="Rosdee"> <span>{{ 'custom.main_flavor_seasoning_usage.rosdee' | t }}</span><br>
                    <input type="radio" name="shop_type_flavor" class="input-full parallel-flavor-seasoning-usage"
                           value="FahThai"> <span>{{ 'custom.main_flavor_seasoning_usage.fahhtai' | t }}</span><br>
                    <input type="radio" name="shop_type_flavor" class="input-full parallel-flavor-seasoning-usage"
                           value="Knorr"> <span>{{ 'custom.main_flavor_seasoning_usage.knorr' | t }}</span><br>
                    <input type="radio" name="shop_type_flavor" class="input-full parallel-flavor-seasoning-usage"
                           value="Termthip"> <span>{{ 'custom.main_flavor_seasoning_usage.termthip' | t }}</span><br>
                    <input type="radio" name="shop_type_flavor" class="input-full parallel-flavor-seasoning-usage"
                           value="Others"> <span>{{ 'custom.main_flavor_seasoning_usage.others' | t }}</span><br>
                </div>
            </div>
                <div style="margin-top: 40px;">
                <input type="checkbox" name="shop_type" class="input-full"
                       value="accept_checkbox" required> <span>{{ 'custom.registration.I_accept_the_privacy_policy' | t }}</span><a href="https://ajinomotosalesth.com/policies/privacy-policy" target="_blank">{{ 'custom.registration.I_accept_the_privacy_policy_link' | t }}</a><br>
                </div>

                <section class="form-account">
                    <div class="form-account-login">
                        <div class="form-account-login-create">
                            <label for="register-submit"
                                   class="hidden-label">{{ 'customer.register.submit' | t }}</label>
                            <input type="submit" id="register-submit" value="{{ 'customer.register.submit' | t }}"
                                   class="btn btn--full login-create-btn">
                        </div>
                    </div>
                    <p class="form-account-text"><a href="/account/login">{{ 'custom.registration.back_to_login' | t }}</a></p>
                </section>

            {%- endform -%}
        </div>
    </div>
    <div id="textreads" style="display:none;">
        <span id="swal_shop_type_select">{{ 'custom.registration.swal_shop_type_select' | t }}</span>
        <span id="swal_shop_type_description">{{ 'custom.registration.swal_shop_type_description' | t }}</span>
        <span id="swal_shop_type_confirm">{{ 'custom.registration.swal_shop_type_confirm' | t }}</span>
        <span id="swal_shop_type_deny">{{ 'custom.registration.swal_shop_type_deny' | t }}</span>
        <span id="swal_shop_type_cancel">{{ 'custom.registration.swal_shop_type_cancel' | t }}</span>
        <span id="swal_shop_type_error_title">{{ 'custom.registration.swal_shop_type_error_title' | t }}</span>
        <span id="swal_shop_type_error_text">{{ 'custom.registration.swal_shop_type_error_text' | t }}</span>
    </div>
</div>
<!-- FORM End -->

<!-- Province Dropdown Script START -->
<script>
    const Province = document.getElementById("Province");
    const District = document.getElementById("District");
    const Sub_district = document.getElementById("Sub_district");

    const optionsB = {
        "Bangkok": [
            "{{ 'custom.district.1001' | t }}",
            "{{ 'custom.district.1002' | t }}",
            "{{ 'custom.district.1003' | t }}",
            "{{ 'custom.district.1004' | t }}",
            "{{ 'custom.district.1005' | t }}",
            "{{ 'custom.district.1006' | t }}",
            "{{ 'custom.district.1007' | t }}",
            "{{ 'custom.district.1008' | t }}",
            "{{ 'custom.district.1009' | t }}",
            "{{ 'custom.district.1010' | t }}",
            "{{ 'custom.district.1011' | t }}",
            "{{ 'custom.district.1012' | t }}",
            "{{ 'custom.district.1013' | t }}",
            "{{ 'custom.district.1014' | t }}",
            "{{ 'custom.district.1015' | t }}",
            "{{ 'custom.district.1016' | t }}",
            "{{ 'custom.district.1017' | t }}",
            "{{ 'custom.district.1018' | t }}",
            "{{ 'custom.district.1019' | t }}",
            "{{ 'custom.district.1020' | t }}",
            "{{ 'custom.district.1021' | t }}",
            "{{ 'custom.district.1022' | t }}",
            "{{ 'custom.district.1023' | t }}",
            "{{ 'custom.district.1024' | t }}",
            "{{ 'custom.district.1025' | t }}",
            "{{ 'custom.district.1026' | t }}",
            "{{ 'custom.district.1027' | t }}",
            "{{ 'custom.district.1028' | t }}",
            "{{ 'custom.district.1029' | t }}",
            "{{ 'custom.district.1030' | t }}",
            "{{ 'custom.district.1031' | t }}",
            "{{ 'custom.district.1032' | t }}",
            "{{ 'custom.district.1033' | t }}",
            "{{ 'custom.district.1034' | t }}",
            "{{ 'custom.district.1035' | t }}",
            "{{ 'custom.district.1036' | t }}",
            "{{ 'custom.district.1037' | t }}",
            "{{ 'custom.district.1038' | t }}",
            "{{ 'custom.district.1039' | t }}",
            "{{ 'custom.district.1040' | t }}",
            "{{ 'custom.district.1041' | t }}",
            "{{ 'custom.district.1042' | t }}",
            "{{ 'custom.district.1043' | t }}",
            "{{ 'custom.district.1044' | t }}",
            "{{ 'custom.district.1045' | t }}",
            "{{ 'custom.district.1046' | t }}",
            "{{ 'custom.district.1047' | t }}",
            "{{ 'custom.district.1048' | t }}",
            "{{ 'custom.district.1049' | t }}",
            "{{ 'custom.district.1050' | t }}"
        ],

        "Samut Prakan": [
            "{{ 'custom.district.1101' | t }}",
            "{{ 'custom.district.1102' | t }}",
            "{{ 'custom.district.1103' | t }}",
            "{{ 'custom.district.1104' | t }}",
            "{{ 'custom.district.1105' | t }}",
            "{{ 'custom.district.1106' | t }}"
        ],
        
        "Nonthaburi": [
            "{{ 'custom.district.1206' | t }}"
        ],
        
        "Pathum Thani": [
            "{{ 'custom.district.1301' | t }}",
            "{{ 'custom.district.1302' | t }}",
            "{{ 'custom.district.1303' | t }}",
            "{{ 'custom.district.1304' | t }}",
            "{{ 'custom.district.1305' | t }}",
            "{{ 'custom.district.1306' | t }}",
            "{{ 'custom.district.1307' | t }}"            
        ],

        "Lop Buri": [
            "{{ 'custom.district.1601' | t }}",
            "{{ 'custom.district.1602' | t }}",
            "{{ 'custom.district.1603' | t }}",
            "{{ 'custom.district.1604' | t }}",
            "{{ 'custom.district.1605' | t }}",
            "{{ 'custom.district.1606' | t }}",
            "{{ 'custom.district.1607' | t }}",
            "{{ 'custom.district.1608' | t }}",
            "{{ 'custom.district.1609' | t }}",
            "{{ 'custom.district.1610' | t }}",
            "{{ 'custom.district.1611' | t }}"
        ],                

        "Sing Buri": [
            "{{ 'custom.district.1701' | t }}",
            "{{ 'custom.district.1702' | t }}",
            "{{ 'custom.district.1703' | t }}",
            "{{ 'custom.district.1704' | t }}",
            "{{ 'custom.district.1705' | t }}",
            "{{ 'custom.district.1706' | t }}"
        ],
        
        "Saraburi": [
            "{{ 'custom.district.1901' | t }}",
            "{{ 'custom.district.1902' | t }}",
            "{{ 'custom.district.1903' | t }}",
            "{{ 'custom.district.1904' | t }}",
            "{{ 'custom.district.1905' | t }}",
            "{{ 'custom.district.1906' | t }}",
            "{{ 'custom.district.1908' | t }}",
            "{{ 'custom.district.1909' | t }}",
            "{{ 'custom.district.1910' | t }}",
            "{{ 'custom.district.1911' | t }}",
            "{{ 'custom.district.1912' | t }}",
            "{{ 'custom.district.1913' | t }}"
        ],

        "Ratchaburi": [
            "{{ 'custom.district.7001' | t }}",
            "{{ 'custom.district.7002' | t }}",
            "{{ 'custom.district.7003' | t }}",
            "{{ 'custom.district.7004' | t }}",
            "{{ 'custom.district.7006' | t }}",
            "{{ 'custom.district.7007' | t }}",
            "{{ 'custom.district.7008' | t }}",
            "{{ 'custom.district.7009' | t }}",
            "{{ 'custom.district.7010' | t }}"
        ],

        "Samut Sakhon": [
            "{{ 'custom.district.7401' | t }}",
            "{{ 'custom.district.7402' | t }}",
            "{{ 'custom.district.7403' | t }}"
        ],        

        "Samut Songkhram": [
            "{{ 'custom.district.7501' | t }}",
            "{{ 'custom.district.7502' | t }}",
            "{{ 'custom.district.7503' | t }}"
        ] 
    };

    const optionsC = {
            "{{ 'custom.district.1001' | t }}": [
                "{{ 'custom.sub_district.100101' | t }}",
                "{{ 'custom.sub_district.100102' | t }}",
                "{{ 'custom.sub_district.100103' | t }}",
                "{{ 'custom.sub_district.100104' | t }}",
                "{{ 'custom.sub_district.100105' | t }}",
                "{{ 'custom.sub_district.100106' | t }}",
                "{{ 'custom.sub_district.100107' | t }}",
                "{{ 'custom.sub_district.100108' | t }}",
                "{{ 'custom.sub_district.100109' | t }}",
                "{{ 'custom.sub_district.100110' | t }}",
                "{{ 'custom.sub_district.100111' | t }}",
                "{{ 'custom.sub_district.100112' | t }}"
            ],
            "{{ 'custom.district.1002' | t }}": [
                "{{ 'custom.sub_district.100201' | t }}",
                "{{ 'custom.sub_district.100202' | t }}",
                "{{ 'custom.sub_district.100203' | t }}",
                "{{ 'custom.sub_district.100204' | t }}",
                "{{ 'custom.sub_district.100206' | t }}"
            ],
            "{{ 'custom.district.1003' | t }}": [
                "{{ 'custom.sub_district.100301' | t }}",
                "{{ 'custom.sub_district.100302' | t }}",
                "{{ 'custom.sub_district.100303' | t }}",
                "{{ 'custom.sub_district.100304' | t }}",
                "{{ 'custom.sub_district.100305' | t }}",
                "{{ 'custom.sub_district.100306' | t }}",
                "{{ 'custom.sub_district.100307' | t }}",
                "{{ 'custom.sub_district.100308' | t }}"
            ],
            "{{ 'custom.district.1004' | t }}": [
                "{{ 'custom.sub_district.100401' | t }}",
                "{{ 'custom.sub_district.100402' | t }}",
                "{{ 'custom.sub_district.100403' | t }}",
                "{{ 'custom.sub_district.100404' | t }}",
                "{{ 'custom.sub_district.100405' | t }}"
            ],
            "{{ 'custom.district.1005' | t }}": [
                "{{ 'custom.sub_district.100502' | t }}",
                "{{ 'custom.sub_district.100508' | t }}"
            ],
            "{{ 'custom.district.1006' | t }}": [
                "{{ 'custom.sub_district.100601' | t }}",
                "{{ 'custom.sub_district.100608' | t }}"
            ],
            "{{ 'custom.district.1007' | t }}": [
                "{{ 'custom.sub_district.100701' | t }}",
                "{{ 'custom.sub_district.100702' | t }}",
                "{{ 'custom.sub_district.100703' | t }}",
                "{{ 'custom.sub_district.100704' | t }}"
            ],
            "{{ 'custom.district.1008' | t }}": [
                "{{ 'custom.sub_district.100801' | t }}",
                "{{ 'custom.sub_district.100802' | t }}",
                "{{ 'custom.sub_district.100803' | t }}",
                "{{ 'custom.sub_district.100804' | t }}",
                "{{ 'custom.sub_district.100805' | t }}"
            ],
            "{{ 'custom.district.1009' | t }}": [
                "{{ 'custom.sub_district.100905' | t }}"
            ],
            "{{ 'custom.district.1010' | t }}": [
                "{{ 'custom.sub_district.101001' | t }}",
                "{{ 'custom.sub_district.101002' | t }}"
            ],
            "{{ 'custom.district.1011' | t }}": [
                "{{ 'custom.sub_district.101101' | t }}",
                "{{ 'custom.sub_district.101102' | t }}",
                "{{ 'custom.sub_district.101103' | t }}",
                "{{ 'custom.sub_district.101104' | t }}",
                "{{ 'custom.sub_district.101105' | t }}",
                "{{ 'custom.sub_district.101106' | t }}"
            ],
            "{{ 'custom.district.1012' | t }}": [
                "{{ 'custom.sub_district.101203' | t }}",
                "{{ 'custom.sub_district.101204' | t }}"
            ],
            "{{ 'custom.district.1013' | t }}": [
                "{{ 'custom.sub_district.101301' | t }}",
                "{{ 'custom.sub_district.101302' | t }}",
                "{{ 'custom.sub_district.101303' | t }}"
            ],
            "{{ 'custom.district.1014' | t }}": [
                "{{ 'custom.sub_district.101401' | t }}"
            ],
            "{{ 'custom.district.1015' | t }}": [
                "{{ 'custom.sub_district.101501' | t }}",
                "{{ 'custom.sub_district.101502' | t }}",
                "{{ 'custom.sub_district.101503' | t }}",
                "{{ 'custom.sub_district.101504' | t }}",
                "{{ 'custom.sub_district.101505' | t }}",
                "{{ 'custom.sub_district.101506' | t }}",
                "{{ 'custom.sub_district.101507' | t }}"
            ],
            "{{ 'custom.district.1016' | t }}": [
                "{{ 'custom.sub_district.101601' | t }}",
                "{{ 'custom.sub_district.101602' | t }}"
            ],
            "{{ 'custom.district.1017' | t }}": [
                "{{ 'custom.sub_district.101701' | t }}",
                "{{ 'custom.sub_district.101702' | t }}",
                "{{ 'custom.sub_district.101704' | t }}"
            ],
            "{{ 'custom.district.1018' | t }}": [
                "{{ 'custom.sub_district.101801' | t }}",
                "{{ 'custom.sub_district.101802' | t }}",
                "{{ 'custom.sub_district.101803' | t }}",
                "{{ 'custom.sub_district.101804' | t }}"
            ],
            "{{ 'custom.district.1019' | t }}": [
                "{{ 'custom.sub_district.101901' | t }}",
                "{{ 'custom.sub_district.101902' | t }}",
                "{{ 'custom.sub_district.101903' | t }}",
                "{{ 'custom.sub_district.101904' | t }}",
                "{{ 'custom.sub_district.101905' | t }}",
                "{{ 'custom.sub_district.101907' | t }}"
            ],
            "{{ 'custom.district.1020' | t }}": [
                "{{ 'custom.sub_district.102004' | t }}",
                "{{ 'custom.sub_district.102005' | t }}",
                "{{ 'custom.sub_district.102006' | t }}",
                "{{ 'custom.sub_district.102007' | t }}",
                "{{ 'custom.sub_district.102009' | t }}"
            ],
            "{{ 'custom.district.1021' | t }}": [
                "{{ 'custom.sub_district.102105' | t }}",
                "{{ 'custom.sub_district.102107' | t }}"
            ],
            "{{ 'custom.district.1022' | t }}": [
                "{{ 'custom.sub_district.102201' | t }}",
                "{{ 'custom.sub_district.102202' | t }}",
                "{{ 'custom.sub_district.102206' | t }}",
                "{{ 'custom.sub_district.102207' | t }}",
                "{{ 'custom.sub_district.102208' | t }}",
                "{{ 'custom.sub_district.102209' | t }}",
                "{{ 'custom.sub_district.102210' | t }}"
            ],
            "{{ 'custom.district.1023' | t }}": [
                "{{ 'custom.sub_district.102302' | t }}"
            ],
            "{{ 'custom.district.1024' | t }}": [
                "{{ 'custom.sub_district.102401' | t }}",
                "{{ 'custom.sub_district.102402' | t }}"
            ],
            "{{ 'custom.district.1025' | t }}": [
                "{{ 'custom.sub_district.102501' | t }}",
                "{{ 'custom.sub_district.102502' | t }}",
                "{{ 'custom.sub_district.102503' | t }}",
                "{{ 'custom.sub_district.102504' | t }}"
            ],
            "{{ 'custom.district.1026' | t }}": [
                "{{ 'custom.sub_district.102601' | t }}"
            ],
            "{{ 'custom.district.1027' | t }}": [
                "{{ 'custom.sub_district.102701' | t }}"
            ],
            "{{ 'custom.district.1028' | t }}": [
                "{{ 'custom.sub_district.102704' | t }}",
                "{{ 'custom.sub_district.102705' | t }}"
            ],
            "{{ 'custom.district.1029' | t }}": [
                "{{ 'custom.sub_district.102801' | t }}",
                "{{ 'custom.sub_district.102802' | t }}",
                "{{ 'custom.sub_district.102803' | t }}"
            ],
            "{{ 'custom.district.1030' | t }}": [
                "{{ 'custom.sub_district.102901' | t }}",
                "{{ 'custom.sub_district.102902' | t }}"
            ],
            "{{ 'custom.district.1031' | t }}": [
                "{{ 'custom.sub_district.103001' | t }}",
                "{{ 'custom.sub_district.103002' | t }}",
                "{{ 'custom.sub_district.103003' | t }}"
            ],
            "{{ 'custom.district.1032' | t }}": [
                "{{ 'custom.sub_district.103101' | t }}",
                "{{ 'custom.sub_district.103102' | t }}",
                "{{ 'custom.sub_district.103103' | t }}"
            ],
            "{{ 'custom.district.1033' | t }}": [
                "{{ 'custom.sub_district.103201' | t }}",
                "{{ 'custom.sub_district.103202' | t }}",
                "{{ 'custom.sub_district.103203' | t }}"
            ],
            "{{ 'custom.district.1034' | t }}": [
                "{{ 'custom.sub_district.103301' | t }}"
            ],
            "{{ 'custom.district.1035' | t }}": [
                "{{ 'custom.sub_district.103401' | t }}",
                "{{ 'custom.sub_district.103501' | t }}",
                "{{ 'custom.sub_district.103502' | t }}",
                "{{ 'custom.sub_district.103503' | t }}",
                "{{ 'custom.sub_district.103504' | t }}"
            ],
            "{{ 'custom.district.1036' | t }}": [
                "{{ 'custom.sub_district.103602' | t }}",
                "{{ 'custom.sub_district.103604' | t }}",
                "{{ 'custom.sub_district.103605' | t }}"
            ],
            "{{ 'custom.district.1037' | t }}": [
                "{{ 'custom.sub_district.103701' | t }}",
                "{{ 'custom.sub_district.103702' | t }}",
                "{{ 'custom.sub_district.103703' | t }}",
                "{{ 'custom.sub_district.103704' | t }}"
            ],
            "{{ 'custom.district.1038' | t }}": [
                "{{ 'custom.sub_district.103801' | t }}",
                "{{ 'custom.sub_district.103802' | t }}"
            ],
            "{{ 'custom.district.1039' | t }}": [
                "{{ 'custom.sub_district.103901' | t }}",
                "{{ 'custom.sub_district.103902' | t }}",
                "{{ 'custom.sub_district.103903' | t }}"
            ],
            "{{ 'custom.district.1040' | t }}": [
                "{{ 'custom.sub_district.104001' | t }}",
                "{{ 'custom.sub_district.104002' | t }}",
                "{{ 'custom.sub_district.104003' | t }}",
                "{{ 'custom.sub_district.104004' | t }}"
            ],
            "{{ 'custom.district.1041' | t }}": [
                "{{ 'custom.sub_district.104101' | t }}",
                "{{ 'custom.sub_district.104102' | t }}"
            ],
            "{{ 'custom.district.1042' | t }}": [
                "{{ 'custom.sub_district.104201' | t }}",
                "{{ 'custom.sub_district.104202' | t }}",
                "{{ 'custom.sub_district.104203' | t }}"
            ],
            "{{ 'custom.district.1043' | t }}": [
                "{{ 'custom.sub_district.104301' | t }}"
            ],
            "{{ 'custom.district.1044' | t }}": [
                "{{ 'custom.sub_district.104401' | t }}"
            ],
            "{{ 'custom.district.1045' | t }}": [
                "{{ 'custom.sub_district.104501' | t }}",
                "{{ 'custom.sub_district.104502' | t }}",
                "{{ 'custom.sub_district.104503' | t }}",
                "{{ 'custom.sub_district.104504' | t }}"
            ],
            "{{ 'custom.district.1046' | t }}": [
                "{{ 'custom.sub_district.104601' | t }}",
                "{{ 'custom.sub_district.104602' | t }}",
                "{{ 'custom.sub_district.104603' | t }}",
                "{{ 'custom.sub_district.104604' | t }}",
                "{{ 'custom.sub_district.104605' | t }}"
            ],
            "{{ 'custom.district.1047' | t }}": [
                "{{ 'custom.sub_district.104701' | t }}"
            ],
            "{{ 'custom.district.1048' | t }}": [
                "{{ 'custom.sub_district.104801' | t }}"
            ],
            "{{ 'custom.district.1049' | t }}": [
                "{{ 'custom.sub_district.104901' | t }}"
            ],
            "{{ 'custom.district.1050' | t }}": [
                "{{ 'custom.sub_district.105001' | t }}"
            ],
            "{{ 'custom.district.1101' | t }}": [
                "{{ 'custom.sub_district.110101' | t }}",
                "{{ 'custom.sub_district.110102' | t }}",
                "{{ 'custom.sub_district.110103' | t }}",
                "{{ 'custom.sub_district.110104' | t }}",
                "{{ 'custom.sub_district.110108' | t }}",
                "{{ 'custom.sub_district.110110' | t }}",
                "{{ 'custom.sub_district.110111' | t }}",
                "{{ 'custom.sub_district.110112' | t }}",
                "{{ 'custom.sub_district.110113' | t }}",
                "{{ 'custom.sub_district.110114' | t }}",
                "{{ 'custom.sub_district.110115' | t }}",
                "{{ 'custom.sub_district.110116' | t }}",
                "{{ 'custom.sub_district.110117' | t }}"
            ],
            "{{ 'custom.district.1102' | t }}": [
                "{{ 'custom.sub_district.110201' | t }}",
                "{{ 'custom.sub_district.110202' | t }}",
                "{{ 'custom.sub_district.110203' | t }}",
                "{{ 'custom.sub_district.110204' | t }}",
                "{{ 'custom.sub_district.110205' | t }}",
                "{{ 'custom.sub_district.110206' | t }}",
                "{{ 'custom.sub_district.110207' | t }}",
                "{{ 'custom.sub_district.110208' | t }}"
            ],
            "{{ 'custom.district.1103' | t }}": [
                "{{ 'custom.sub_district.110301' | t }}",
                "{{ 'custom.sub_district.110302' | t }}",
                "{{ 'custom.sub_district.110303' | t }}",
                "{{ 'custom.sub_district.110304' | t }}",
                "{{ 'custom.sub_district.110308' | t }}",
                "{{ 'custom.sub_district.110309' | t }}"
            ],
            "{{ 'custom.district.1104' | t }}": [
                "{{ 'custom.sub_district.110401' | t }}",
                "{{ 'custom.sub_district.110402' | t }}",
                "{{ 'custom.sub_district.110403' | t }}",
                "{{ 'custom.sub_district.110404' | t }}",
                "{{ 'custom.sub_district.110405' | t }}",
                "{{ 'custom.sub_district.110406' | t }}",
                "{{ 'custom.sub_district.110407' | t }}",
                "{{ 'custom.sub_district.110408' | t }}",
                "{{ 'custom.sub_district.110409' | t }}",
                "{{ 'custom.sub_district.110410' | t }}",
                "{{ 'custom.sub_district.110411' | t }}",
                "{{ 'custom.sub_district.110412' | t }}",
                "{{ 'custom.sub_district.110413' | t }}",
                "{{ 'custom.sub_district.110414' | t }}",
                "{{ 'custom.sub_district.110415' | t }}"
            ],
            "{{ 'custom.district.1105' | t }}": [
                "{{ 'custom.sub_district.110501' | t }}",
                "{{ 'custom.sub_district.110502' | t }}",
                "{{ 'custom.sub_district.110503' | t }}",
                "{{ 'custom.sub_district.110504' | t }}",
                "{{ 'custom.sub_district.110505' | t }}"
            ],
            "{{ 'custom.district.1106' | t }}": [
                "{{ 'custom.sub_district.110601' | t }}",
                "{{ 'custom.sub_district.110602' | t }}",
                "{{ 'custom.sub_district.110603' | t }}"
            ],
            "{{ 'custom.district.1206' | t }}": [
                "{{ 'custom.sub_district.120601' | t }}",
                "{{ 'custom.sub_district.120602' | t }}",
                "{{ 'custom.sub_district.120603' | t }}",
                "{{ 'custom.sub_district.120604' | t }}",
                "{{ 'custom.sub_district.120605' | t }}",
                "{{ 'custom.sub_district.120606' | t }}",
                "{{ 'custom.sub_district.120607' | t }}",
                "{{ 'custom.sub_district.120608' | t }}",
                "{{ 'custom.sub_district.120609' | t }}",
                "{{ 'custom.sub_district.120610' | t }}",
                "{{ 'custom.sub_district.120611' | t }}",
                "{{ 'custom.sub_district.120612' | t }}"
            ],
            "{{ 'custom.district.1301' | t }}": [
                "{{ 'custom.sub_district.130101' | t }}",
                "{{ 'custom.sub_district.130102' | t }}",
                "{{ 'custom.sub_district.130103' | t }}",
                "{{ 'custom.sub_district.130104' | t }}",
                "{{ 'custom.sub_district.130105' | t }}",
                "{{ 'custom.sub_district.130106' | t }}",
                "{{ 'custom.sub_district.130107' | t }}",
                "{{ 'custom.sub_district.130108' | t }}",
                "{{ 'custom.sub_district.130109' | t }}",
                "{{ 'custom.sub_district.130110' | t }}",
                "{{ 'custom.sub_district.130111' | t }}",
                "{{ 'custom.sub_district.130112' | t }}",
                "{{ 'custom.sub_district.130113' | t }}",
                "{{ 'custom.sub_district.130114' | t }}"
            ],
            "{{ 'custom.district.1302' | t }}": [
                "{{ 'custom.sub_district.130201' | t }}",
                "{{ 'custom.sub_district.130202' | t }}",
                "{{ 'custom.sub_district.130203' | t }}",
                "{{ 'custom.sub_district.130204' | t }}",
                "{{ 'custom.sub_district.130205' | t }}",
                "{{ 'custom.sub_district.130206' | t }}",
                "{{ 'custom.sub_district.130207' | t }}"
            ],
            "{{ 'custom.district.1303' | t }}": [
                "{{ 'custom.sub_district.130301' | t }}",
                "{{ 'custom.sub_district.130302' | t }}",
                "{{ 'custom.sub_district.130303' | t }}",
                "{{ 'custom.sub_district.130304' | t }}",
                "{{ 'custom.sub_district.130305' | t }}",
                "{{ 'custom.sub_district.130306' | t }}"
            ],
            "{{ 'custom.district.1304' | t }}": [
                "{{ 'custom.sub_district.130401' | t }}",
                "{{ 'custom.sub_district.130402' | t }}",
                "{{ 'custom.sub_district.130403' | t }}",
                "{{ 'custom.sub_district.130404' | t }}",
                "{{ 'custom.sub_district.130405' | t }}",
                "{{ 'custom.sub_district.130406' | t }}",
                "{{ 'custom.sub_district.130407' | t }}"
            ],
            "{{ 'custom.district.1305' | t }}": [
                "{{ 'custom.sub_district.130501' | t }}",
                "{{ 'custom.sub_district.130502' | t }}",
                "{{ 'custom.sub_district.130503' | t }}",
                "{{ 'custom.sub_district.130504' | t }}",
                "{{ 'custom.sub_district.130505' | t }}",
                "{{ 'custom.sub_district.130506' | t }}",
                "{{ 'custom.sub_district.130507' | t }}"
            ],
            "{{ 'custom.district.1306' | t }}": [
                "{{ 'custom.sub_district.130601' | t }}",
                "{{ 'custom.sub_district.130602' | t }}",
                "{{ 'custom.sub_district.130603' | t }}",
                "{{ 'custom.sub_district.130604' | t }}",
                "{{ 'custom.sub_district.130605' | t }}",
                "{{ 'custom.sub_district.130606' | t }}",
                "{{ 'custom.sub_district.130607' | t }}",
                "{{ 'custom.sub_district.130608' | t }}"
            ],
            "{{ 'custom.district.1307' | t }}": [
                "{{ 'custom.sub_district.130701' | t }}",
                "{{ 'custom.sub_district.130702' | t }}",
                "{{ 'custom.sub_district.130703' | t }}",
                "{{ 'custom.sub_district.130704' | t }}",
                "{{ 'custom.sub_district.130705' | t }}",
                "{{ 'custom.sub_district.130706' | t }}",
                "{{ 'custom.sub_district.130707' | t }}",
                "{{ 'custom.sub_district.130708' | t }}",
                "{{ 'custom.sub_district.130709' | t }}",
                "{{ 'custom.sub_district.130710' | t }}",
                "{{ 'custom.sub_district.130711' | t }}"
            ],
            "{{ 'custom.district.1601' | t }}": [
                "{{ 'custom.sub_district.160101' | t }}",
                "{{ 'custom.sub_district.160102' | t }}",
                "{{ 'custom.sub_district.160103' | t }}",
                "{{ 'custom.sub_district.160104' | t }}",
                "{{ 'custom.sub_district.160105' | t }}",
                "{{ 'custom.sub_district.160106' | t }}",
                "{{ 'custom.sub_district.160107' | t }}",
                "{{ 'custom.sub_district.160108' | t }}",
                "{{ 'custom.sub_district.160109' | t }}",
                "{{ 'custom.sub_district.160110' | t }}",
                "{{ 'custom.sub_district.160111' | t }}",
                "{{ 'custom.sub_district.160112' | t }}",
                "{{ 'custom.sub_district.160114' | t }}",
                "{{ 'custom.sub_district.160115' | t }}",
                "{{ 'custom.sub_district.160116' | t }}",
                "{{ 'custom.sub_district.160117' | t }}",
                "{{ 'custom.sub_district.160118' | t }}",
                "{{ 'custom.sub_district.160119' | t }}",
                "{{ 'custom.sub_district.160120' | t }}",
                "{{ 'custom.sub_district.160121' | t }}",
                "{{ 'custom.sub_district.160122' | t }}",
                "{{ 'custom.sub_district.160123' | t }}",
                "{{ 'custom.sub_district.160124' | t }}",
                "{{ 'custom.sub_district.160125' | t }}"
            ],
            "{{ 'custom.district.1602' | t }}": [
                "{{ 'custom.sub_district.160201' | t }}",
                "{{ 'custom.sub_district.160202' | t }}",
                "{{ 'custom.sub_district.160203' | t }}",
                "{{ 'custom.sub_district.160204' | t }}",
                "{{ 'custom.sub_district.160205' | t }}",
                "{{ 'custom.sub_district.160206' | t }}",
                "{{ 'custom.sub_district.160207' | t }}",
                "{{ 'custom.sub_district.160208' | t }}",
                "{{ 'custom.sub_district.160209' | t }}"
            ],
            "{{ 'custom.district.1603' | t }}": [
                "{{ 'custom.sub_district.160301' | t }}",
                "{{ 'custom.sub_district.160302' | t }}",
                "{{ 'custom.sub_district.160303' | t }}",
                "{{ 'custom.sub_district.160304' | t }}",
                "{{ 'custom.sub_district.160305' | t }}",
                "{{ 'custom.sub_district.160306' | t }}",
                "{{ 'custom.sub_district.160307' | t }}",
                "{{ 'custom.sub_district.160308' | t }}",
                "{{ 'custom.sub_district.160309' | t }}",
                "{{ 'custom.sub_district.160310' | t }}",
                "{{ 'custom.sub_district.160318' | t }}",
                "{{ 'custom.sub_district.160320' | t }}",
                "{{ 'custom.sub_district.160322' | t }}"
            ],
            "{{ 'custom.district.1604' | t }}": [
                "{{ 'custom.sub_district.160401' | t }}",
                "{{ 'custom.sub_district.160402' | t }}",
                "{{ 'custom.sub_district.160403' | t }}",
                "{{ 'custom.sub_district.160404' | t }}",
                "{{ 'custom.sub_district.160405' | t }}",
                "{{ 'custom.sub_district.160406' | t }}",
                "{{ 'custom.sub_district.160407' | t }}",
                "{{ 'custom.sub_district.160408' | t }}",
                "{{ 'custom.sub_district.160409' | t }}",
                "{{ 'custom.sub_district.160410' | t }}",
                "{{ 'custom.sub_district.160411' | t }}",
                "{{ 'custom.sub_district.160412' | t }}",
                "{{ 'custom.sub_district.160414' | t }}",
                "{{ 'custom.sub_district.160417' | t }}",
                "{{ 'custom.sub_district.160418' | t }}",
                "{{ 'custom.sub_district.160419' | t }}",
                "{{ 'custom.sub_district.160422' | t }}"
            ],
            "{{ 'custom.district.1605' | t }}": [
                "{{ 'custom.sub_district.160501' | t }}",
                "{{ 'custom.sub_district.160502' | t }}",
                "{{ 'custom.sub_district.160503' | t }}",
                "{{ 'custom.sub_district.160504' | t }}",
                "{{ 'custom.sub_district.160505' | t }}",
                "{{ 'custom.sub_district.160506' | t }}",
                "{{ 'custom.sub_district.160507' | t }}",
                "{{ 'custom.sub_district.160508' | t }}",
                "{{ 'custom.sub_district.160509' | t }}",
                "{{ 'custom.sub_district.160510' | t }}",
                "{{ 'custom.sub_district.160511' | t }}"
            ],
            "{{ 'custom.district.1606' | t }}": [
                "{{ 'custom.sub_district.160601' | t }}",
                "{{ 'custom.sub_district.160602' | t }}",
                "{{ 'custom.sub_district.160603' | t }}",
                "{{ 'custom.sub_district.160604' | t }}",
                "{{ 'custom.sub_district.160605' | t }}",
                "{{ 'custom.sub_district.160606' | t }}",
                "{{ 'custom.sub_district.160607' | t }}",
                "{{ 'custom.sub_district.160608' | t }}",
                "{{ 'custom.sub_district.160609' | t }}",
                "{{ 'custom.sub_district.160610' | t }}",
                "{{ 'custom.sub_district.160611' | t }}",
                "{{ 'custom.sub_district.160612' | t }}",
                "{{ 'custom.sub_district.160613' | t }}",
                "{{ 'custom.sub_district.160614' | t }}",
                "{{ 'custom.sub_district.160615' | t }}",
                "{{ 'custom.sub_district.160616' | t }}",
                "{{ 'custom.sub_district.160617' | t }}",
                "{{ 'custom.sub_district.160618' | t }}",
                "{{ 'custom.sub_district.160619' | t }}",
                "{{ 'custom.sub_district.160620' | t }}",
                "{{ 'custom.sub_district.160621' | t }}",
                "{{ 'custom.sub_district.160622' | t }}"
            ],
            "{{ 'custom.district.1607' | t }}": [
                "{{ 'custom.sub_district.160701' | t }}",
                "{{ 'custom.sub_district.160702' | t }}",
                "{{ 'custom.sub_district.160703' | t }}",
                "{{ 'custom.sub_district.160704' | t }}",
                "{{ 'custom.sub_district.160705' | t }}",
                "{{ 'custom.sub_district.160706' | t }}"
            ],
            "{{ 'custom.district.1608' | t }}": [
                "{{ 'custom.sub_district.160801' | t }}",
                "{{ 'custom.sub_district.160802' | t }}",
                "{{ 'custom.sub_district.160803' | t }}",
                "{{ 'custom.sub_district.160804' | t }}",
                "{{ 'custom.sub_district.160805' | t }}"
            ],
            "{{ 'custom.district.1609' | t }}": [
                "{{ 'custom.sub_district.160901' | t }}",
                "{{ 'custom.sub_district.160902' | t }}",
                "{{ 'custom.sub_district.160903' | t }}",
                "{{ 'custom.sub_district.160904' | t }}",
                "{{ 'custom.sub_district.160905' | t }}"
            ],
            "{{ 'custom.district.1610' | t }}": [
                "{{ 'custom.sub_district.161001' | t }}",
                "{{ 'custom.sub_district.161002' | t }}",
                "{{ 'custom.sub_district.161003' | t }}",
                "{{ 'custom.sub_district.161004' | t }}",
                "{{ 'custom.sub_district.161005' | t }}",
                "{{ 'custom.sub_district.161006' | t }}"
            ],
            "{{ 'custom.district.1611' | t }}": [
                "{{ 'custom.sub_district.161101' | t }}",
                "{{ 'custom.sub_district.161102' | t }}",
                "{{ 'custom.sub_district.161103' | t }}",
                "{{ 'custom.sub_district.161104' | t }}",
                "{{ 'custom.sub_district.161105' | t }}",
                "{{ 'custom.sub_district.161106' | t }}"
            ],
            "{{ 'custom.district.1701' | t }}": [
                "{{ 'custom.sub_district.170101' | t }}",
                "{{ 'custom.sub_district.170102' | t }}",
                "{{ 'custom.sub_district.170103' | t }}",
                "{{ 'custom.sub_district.170104' | t }}",
                "{{ 'custom.sub_district.170105' | t }}",
                "{{ 'custom.sub_district.170106' | t }}",
                "{{ 'custom.sub_district.170107' | t }}",
                "{{ 'custom.sub_district.170108' | t }}"
            ],
            "{{ 'custom.district.1702' | t }}": [
                "{{ 'custom.sub_district.170201' | t }}",
                "{{ 'custom.sub_district.170202' | t }}",
                "{{ 'custom.sub_district.170203' | t }}",
                "{{ 'custom.sub_district.170204' | t }}",
                "{{ 'custom.sub_district.170205' | t }}",
                "{{ 'custom.sub_district.170206' | t }}",
                "{{ 'custom.sub_district.170207' | t }}",
                "{{ 'custom.sub_district.170208' | t }}"
            ],
            "{{ 'custom.district.1703' | t }}": [
                "{{ 'custom.sub_district.170301' | t }}",
                "{{ 'custom.sub_district.170302' | t }}",
                "{{ 'custom.sub_district.170303' | t }}",
                "{{ 'custom.sub_district.170304' | t }}",
                "{{ 'custom.sub_district.170305' | t }}",
                "{{ 'custom.sub_district.170306' | t }}"
            ],
            "{{ 'custom.district.1704' | t }}": [
                "{{ 'custom.sub_district.170401' | t }}",
                "{{ 'custom.sub_district.170402' | t }}",
                "{{ 'custom.sub_district.170403' | t }}",
                "{{ 'custom.sub_district.170404' | t }}",
                "{{ 'custom.sub_district.170405' | t }}",
                "{{ 'custom.sub_district.170406' | t }}",
                "{{ 'custom.sub_district.170407' | t }}"
            ],
            "{{ 'custom.district.1705' | t }}": [
                "{{ 'custom.sub_district.170501' | t }}",
                "{{ 'custom.sub_district.170502' | t }}",
                "{{ 'custom.sub_district.170503' | t }}",
                "{{ 'custom.sub_district.170504' | t }}"
            ],
            "{{ 'custom.district.1706' | t }}": [
                "{{ 'custom.sub_district.170601' | t }}",
                "{{ 'custom.sub_district.170602' | t }}",
                "{{ 'custom.sub_district.170603' | t }}",
                "{{ 'custom.sub_district.170604' | t }}",
                "{{ 'custom.sub_district.170605' | t }}",
                "{{ 'custom.sub_district.170606' | t }}",
                "{{ 'custom.sub_district.170607' | t }}",
                "{{ 'custom.sub_district.170608' | t }}",
                "{{ 'custom.sub_district.170609' | t }}",
                "{{ 'custom.sub_district.170610' | t }}"
            ],
            "{{ 'custom.district.1901' | t }}": [
                "{{ 'custom.sub_district.190101' | t }}",
                "{{ 'custom.sub_district.190105' | t }}",
                "{{ 'custom.sub_district.190106' | t }}",
                "{{ 'custom.sub_district.190107' | t }}",
                "{{ 'custom.sub_district.190108' | t }}",
                "{{ 'custom.sub_district.190109' | t }}",
                "{{ 'custom.sub_district.190110' | t }}",
                "{{ 'custom.sub_district.190111' | t }}",
                "{{ 'custom.sub_district.190112' | t }}",
                "{{ 'custom.sub_district.190113' | t }}",
                "{{ 'custom.sub_district.190114' | t }}"
            ],
            "{{ 'custom.district.1902' | t }}": [
                "{{ 'custom.sub_district.190201' | t }}",
                "{{ 'custom.sub_district.190202' | t }}",
                "{{ 'custom.sub_district.190203' | t }}",
                "{{ 'custom.sub_district.190204' | t }}",
                "{{ 'custom.sub_district.190205' | t }}",
                "{{ 'custom.sub_district.190206' | t }}",
                "{{ 'custom.sub_district.190207' | t }}",
                "{{ 'custom.sub_district.190208' | t }}",
                "{{ 'custom.sub_district.190209' | t }}",
                "{{ 'custom.sub_district.190210' | t }}",
                "{{ 'custom.sub_district.190211' | t }}",
                "{{ 'custom.sub_district.190212' | t }}",
                "{{ 'custom.sub_district.190213' | t }}",
                "{{ 'custom.sub_district.190215' | t }}"
            ],
            "{{ 'custom.district.1903' | t }}": [
                "{{ 'custom.sub_district.190301' | t }}",
                "{{ 'custom.sub_district.190302' | t }}",
                "{{ 'custom.sub_district.190303' | t }}",
                "{{ 'custom.sub_district.190304' | t }}",
                "{{ 'custom.sub_district.190305' | t }}",
                "{{ 'custom.sub_district.190306' | t }}",
                "{{ 'custom.sub_district.190307' | t }}",
                "{{ 'custom.sub_district.190308' | t }}",
                "{{ 'custom.sub_district.190309' | t }}",
                "{{ 'custom.sub_district.190310' | t }}",
                "{{ 'custom.sub_district.190311' | t }}",
                "{{ 'custom.sub_district.190312' | t }}",
                "{{ 'custom.sub_district.190313' | t }}",
                "{{ 'custom.sub_district.190314' | t }}",
                "{{ 'custom.sub_district.190315' | t }}",
                "{{ 'custom.sub_district.190316' | t }}",
                "{{ 'custom.sub_district.190317' | t }}",
                "{{ 'custom.sub_district.190318' | t }}"
            ],
            "{{ 'custom.district.1904' | t }}": [
                "{{ 'custom.sub_district.190401' | t }}",
                "{{ 'custom.sub_district.190402' | t }}",
                "{{ 'custom.sub_district.190403' | t }}",
                "{{ 'custom.sub_district.190404' | t }}",
                "{{ 'custom.sub_district.190405' | t }}",
                "{{ 'custom.sub_district.190406' | t }}"
            ],
            "{{ 'custom.district.1905' | t }}": [
                "{{ 'custom.sub_district.190501' | t }}",
                "{{ 'custom.sub_district.190502' | t }}",
                "{{ 'custom.sub_district.190503' | t }}",
                "{{ 'custom.sub_district.190504' | t }}",
                "{{ 'custom.sub_district.190505' | t }}",
                "{{ 'custom.sub_district.190506' | t }}",
                "{{ 'custom.sub_district.190507' | t }}",
                "{{ 'custom.sub_district.190508' | t }}"
            ],
            "{{ 'custom.district.1906' | t }}": [
                "{{ 'custom.sub_district.190601' | t }}",
                "{{ 'custom.sub_district.190602' | t }}",
                "{{ 'custom.sub_district.190603' | t }}",
                "{{ 'custom.sub_district.190604' | t }}",
                "{{ 'custom.sub_district.190608' | t }}",
                "{{ 'custom.sub_district.190609' | t }}"
            ],
            "{{ 'custom.district.1908' | t }}": [
                "{{ 'custom.sub_district.190801' | t }}",
                "{{ 'custom.sub_district.190802' | t }}",
                "{{ 'custom.sub_district.190803' | t }}",
                "{{ 'custom.sub_district.190804' | t }}"
            ],
            "{{ 'custom.district.1909' | t }}": [
                "{{ 'custom.sub_district.190901' | t }}",
                "{{ 'custom.sub_district.190902' | t }}",
                "{{ 'custom.sub_district.190903' | t }}",
                "{{ 'custom.sub_district.190904' | t }}",
                "{{ 'custom.sub_district.190905' | t }}",
                "{{ 'custom.sub_district.190906' | t }}",
                "{{ 'custom.sub_district.190907' | t }}",
                "{{ 'custom.sub_district.190908' | t }}",
                "{{ 'custom.sub_district.190909' | t }}"
            ],
            "{{ 'custom.district.1910' | t }}": [
                "{{ 'custom.sub_district.191001' | t }}",
                "{{ 'custom.sub_district.191002' | t }}",
                "{{ 'custom.sub_district.191003' | t }}",
                "{{ 'custom.sub_district.191004' | t }}",
                "{{ 'custom.sub_district.191005' | t }}",
                "{{ 'custom.sub_district.191006' | t }}",
                "{{ 'custom.sub_district.191007' | t }}",
                "{{ 'custom.sub_district.191008' | t }}",
                "{{ 'custom.sub_district.191009' | t }}",
                "{{ 'custom.sub_district.191010' | t }}",
                "{{ 'custom.sub_district.191011' | t }}",
                "{{ 'custom.sub_district.191012' | t }}"
            ],
            "{{ 'custom.district.1911' | t }}": [
                "{{ 'custom.sub_district.191101' | t }}",
                "{{ 'custom.sub_district.191102' | t }}",
                "{{ 'custom.sub_district.191104' | t }}",
                "{{ 'custom.sub_district.191105' | t }}",
                "{{ 'custom.sub_district.191107' | t }}",
                "{{ 'custom.sub_district.191109' | t }}"
            ],
            "{{ 'custom.district.1912' | t }}": [
                "{{ 'custom.sub_district.191201' | t }}",
                "{{ 'custom.sub_district.191202' | t }}",
                "{{ 'custom.sub_district.191203' | t }}"
            ],
            "{{ 'custom.district.1913' | t }}": [
                "{{ 'custom.sub_district.191301' | t }}",
                "{{ 'custom.sub_district.191302' | t }}",
                "{{ 'custom.sub_district.191303' | t }}",
                "{{ 'custom.sub_district.191304' | t }}",
                "{{ 'custom.sub_district.191305' | t }}",
                "{{ 'custom.sub_district.191306' | t }}"
            ],
            "{{ 'custom.district.7001' | t }}": [
                "{{ 'custom.sub_district.700101' | t }}",
                "{{ 'custom.sub_district.700102' | t }}",
                "{{ 'custom.sub_district.700103' | t }}",
                "{{ 'custom.sub_district.700104' | t }}",
                "{{ 'custom.sub_district.700105' | t }}",
                "{{ 'custom.sub_district.700106' | t }}",
                "{{ 'custom.sub_district.700107' | t }}",
                "{{ 'custom.sub_district.700108' | t }}",
                "{{ 'custom.sub_district.700109' | t }}",
                "{{ 'custom.sub_district.700110' | t }}",
                "{{ 'custom.sub_district.700111' | t }}",
                "{{ 'custom.sub_district.700112' | t }}",
                "{{ 'custom.sub_district.700113' | t }}",
                "{{ 'custom.sub_district.700114' | t }}",
                "{{ 'custom.sub_district.700115' | t }}",
                "{{ 'custom.sub_district.700116' | t }}",
                "{{ 'custom.sub_district.700117' | t }}",
                "{{ 'custom.sub_district.700118' | t }}",
                "{{ 'custom.sub_district.700119' | t }}",
                "{{ 'custom.sub_district.700120' | t }}",
                "{{ 'custom.sub_district.700121' | t }}",
                "{{ 'custom.sub_district.700122' | t }}"
            ],
            "{{ 'custom.district.7002' | t }}": [
                "{{ 'custom.sub_district.700201' | t }}",
                "{{ 'custom.sub_district.700202' | t }}",
                "{{ 'custom.sub_district.700203' | t }}",
                "{{ 'custom.sub_district.700204' | t }}",
                "{{ 'custom.sub_district.700205' | t }}",
                "{{ 'custom.sub_district.700206' | t }}"
            ],
            "{{ 'custom.district.7003' | t }}": [
                "{{ 'custom.sub_district.700301' | t }}",
                "{{ 'custom.sub_district.700302' | t }}",
                "{{ 'custom.sub_district.700304' | t }}",
                "{{ 'custom.sub_district.700307' | t }}"
            ],
            "{{ 'custom.district.7004' | t }}": [
                "{{ 'custom.sub_district.700401' | t }}",
                "{{ 'custom.sub_district.700402' | t }}",
                "{{ 'custom.sub_district.700403' | t }}",
                "{{ 'custom.sub_district.700404' | t }}",
                "{{ 'custom.sub_district.700405' | t }}",
                "{{ 'custom.sub_district.700406' | t }}",
                "{{ 'custom.sub_district.700407' | t }}",
                "{{ 'custom.sub_district.700408' | t }}",
                "{{ 'custom.sub_district.700409' | t }}",
                "{{ 'custom.sub_district.700410' | t }}",
                "{{ 'custom.sub_district.700411' | t }}",
                "{{ 'custom.sub_district.700412' | t }}",
                "{{ 'custom.sub_district.700413' | t }}"
            ],
            "{{ 'custom.district.7006' | t }}": [
                "{{ 'custom.sub_district.700601' | t }}",
                "{{ 'custom.sub_district.700602' | t }}",
                "{{ 'custom.sub_district.700603' | t }}",
                "{{ 'custom.sub_district.700604' | t }}",
                "{{ 'custom.sub_district.700605' | t }}",
                "{{ 'custom.sub_district.700606' | t }}",
                "{{ 'custom.sub_district.700607' | t }}"
            ],
            "{{ 'custom.district.7007' | t }}": [
                "{{ 'custom.sub_district.700701' | t }}",
                "{{ 'custom.sub_district.700702' | t }}",
                "{{ 'custom.sub_district.700703' | t }}",
                "{{ 'custom.sub_district.700704' | t }}",
                "{{ 'custom.sub_district.700705' | t }}",
                "{{ 'custom.sub_district.700706' | t }}",
                "{{ 'custom.sub_district.700707' | t }}",
                "{{ 'custom.sub_district.700708' | t }}",
                "{{ 'custom.sub_district.700709' | t }}",
                "{{ 'custom.sub_district.700710' | t }}",
                "{{ 'custom.sub_district.700711' | t }}",
                "{{ 'custom.sub_district.700712' | t }}",
                "{{ 'custom.sub_district.700713' | t }}",
                "{{ 'custom.sub_district.700714' | t }}",
                "{{ 'custom.sub_district.700715' | t }}",
                "{{ 'custom.sub_district.700716' | t }}",
                "{{ 'custom.sub_district.700717' | t }}",
                "{{ 'custom.sub_district.700718' | t }}",
                "{{ 'custom.sub_district.700719' | t }}"
            ],
            "{{ 'custom.district.7008' | t }}": [
                "{{ 'custom.sub_district.700801' | t }}",
                "{{ 'custom.sub_district.700802' | t }}",
                "{{ 'custom.sub_district.700803' | t }}",
                "{{ 'custom.sub_district.700804' | t }}",
                "{{ 'custom.sub_district.700805' | t }}",
                "{{ 'custom.sub_district.700806' | t }}",
                "{{ 'custom.sub_district.700807' | t }}",
                "{{ 'custom.sub_district.700808' | t }}",
                "{{ 'custom.sub_district.700809' | t }}",
                "{{ 'custom.sub_district.700810' | t }}",
                "{{ 'custom.sub_district.700811' | t }}",
                "{{ 'custom.sub_district.700812' | t }}"
            ],
            "{{ 'custom.district.7009' | t }}": [
                "{{ 'custom.sub_district.700901' | t }}",
                "{{ 'custom.sub_district.700902' | t }}",
                "{{ 'custom.sub_district.700903' | t }}"
            ],
            "{{ 'custom.district.7010' | t }}": [
                "{{ 'custom.sub_district.701001' | t }}",
                "{{ 'custom.sub_district.701002' | t }}",
                "{{ 'custom.sub_district.701003' | t }}"
            ],
            "{{ 'custom.district.7401' | t }}": [
                "{{ 'custom.sub_district.740101' | t }}",
                "{{ 'custom.sub_district.740102' | t }}",
                "{{ 'custom.sub_district.740103' | t }}",
                "{{ 'custom.sub_district.740104' | t }}",
                "{{ 'custom.sub_district.740105' | t }}",
                "{{ 'custom.sub_district.740106' | t }}",
                "{{ 'custom.sub_district.740107' | t }}",
                "{{ 'custom.sub_district.740108' | t }}",
                "{{ 'custom.sub_district.740109' | t }}",
                "{{ 'custom.sub_district.740110' | t }}",
                "{{ 'custom.sub_district.740111' | t }}",
                "{{ 'custom.sub_district.740113' | t }}",
                "{{ 'custom.sub_district.740114' | t }}",
                "{{ 'custom.sub_district.740115' | t }}",
                "{{ 'custom.sub_district.740116' | t }}",
                "{{ 'custom.sub_district.740117' | t }}",
                "{{ 'custom.sub_district.740118' | t }}"
            ],
            "{{ 'custom.district.7402' | t }}": [
                "{{ 'custom.sub_district.740201' | t }}",
                "{{ 'custom.sub_district.740203' | t }}",
                "{{ 'custom.sub_district.740204' | t }}",
                "{{ 'custom.sub_district.740205' | t }}",
                "{{ 'custom.sub_district.740206' | t }}",
                "{{ 'custom.sub_district.740207' | t }}",
                "{{ 'custom.sub_district.740208' | t }}",
                "{{ 'custom.sub_district.740209' | t }}",
                "{{ 'custom.sub_district.740210' | t }}"
            ],
            "{{ 'custom.district.7403' | t }}": [
                "{{ 'custom.sub_district.740301' | t }}",
                "{{ 'custom.sub_district.740302' | t }}",
                "{{ 'custom.sub_district.740303' | t }}",
                "{{ 'custom.sub_district.740304' | t }}",
                "{{ 'custom.sub_district.740305' | t }}",
                "{{ 'custom.sub_district.740306' | t }}",
                "{{ 'custom.sub_district.740307' | t }}",
                "{{ 'custom.sub_district.740308' | t }}",
                "{{ 'custom.sub_district.740309' | t }}",
                "{{ 'custom.sub_district.740310' | t }}",
                "{{ 'custom.sub_district.740311' | t }}",
                "{{ 'custom.sub_district.740312' | t }}"
            ],
            "{{ 'custom.district.7402' | t }}": [
                "{{ 'custom.sub_district.740202' | t }}"
            ],
            "{{ 'custom.district.7401' | t }}": [
                "{{ 'custom.sub_district.740112' | t }}"
            ],
            "{{ 'custom.district.7501' | t }}": [
                "{{ 'custom.sub_district.750101' | t }}",
                "{{ 'custom.sub_district.750102' | t }}",
                "{{ 'custom.sub_district.750103' | t }}",
                "{{ 'custom.sub_district.750104' | t }}",
                "{{ 'custom.sub_district.750105' | t }}",
                "{{ 'custom.sub_district.750106' | t }}",
                "{{ 'custom.sub_district.750107' | t }}",
                "{{ 'custom.sub_district.750108' | t }}",
                "{{ 'custom.sub_district.750109' | t }}",
                "{{ 'custom.sub_district.750110' | t }}",
                "{{ 'custom.sub_district.750111' | t }}"
            ],
            "{{ 'custom.district.7502' | t }}": [
                "{{ 'custom.sub_district.750201' | t }}",
                "{{ 'custom.sub_district.750202' | t }}",
                "{{ 'custom.sub_district.750203' | t }}",
                "{{ 'custom.sub_district.750204' | t }}",
                "{{ 'custom.sub_district.750205' | t }}",
                "{{ 'custom.sub_district.750206' | t }}",
                "{{ 'custom.sub_district.750207' | t }}",
                "{{ 'custom.sub_district.750208' | t }}",
                "{{ 'custom.sub_district.750209' | t }}",
                "{{ 'custom.sub_district.750210' | t }}",
                "{{ 'custom.sub_district.750211' | t }}",
                "{{ 'custom.sub_district.750212' | t }}",
                "{{ 'custom.sub_district.750213' | t }}"
            ],
            "{{ 'custom.district.7503' | t }}": [
                "{{ 'custom.sub_district.750301' | t }}",
                "{{ 'custom.sub_district.750302' | t }}",
                "{{ 'custom.sub_district.750303' | t }}",
                "{{ 'custom.sub_district.750304' | t }}",
                "{{ 'custom.sub_district.750305' | t }}",
                "{{ 'custom.sub_district.750306' | t }}",
                "{{ 'custom.sub_district.750307' | t }}",
                "{{ 'custom.sub_district.750308' | t }}",
                "{{ 'custom.sub_district.750309' | t }}",
                "{{ 'custom.sub_district.750310' | t }}",
                "{{ 'custom.sub_district.750311' | t }}",
                "{{ 'custom.sub_district.750312' | t }}"
            ]
    };

    Province.addEventListener("change", function() {
        const selectedValueA = Province.value;
        District.innerHTML = '<option value="" disabled selected hidden>{{ 'custom.registration.district' | t }}</option>';
        Sub_district.innerHTML = '<option value="" disabled selected hidden>{{ 'custom.registration.sub_district' | t }}</option>';

        if (selectedValueA) {
            District.disabled = false;
            const options = optionsB[selectedValueA];
            options.forEach(option => {
                const optionElement = document.createElement("option");
                optionElement.value = option;
                optionElement.text = option;
                District.appendChild(optionElement);
            });
        } else {
            District.disabled = true;
            Sub_district.disabled = true;
        }
    });

    District.addEventListener("change", function() {
        const selectedValueB = District.value;
        Sub_district.innerHTML = '<option value="" disabled selected hidden>{{ 'custom.registration.sub_district' | t }}</option>';

        if (selectedValueB) {
            Sub_district.disabled = false;
            const options = optionsC[selectedValueB];
            options.forEach(option => {
                const optionElement = document.createElement("option");
                optionElement.value = option;
                optionElement.text = option;
                Sub_district.appendChild(optionElement);
            });
        } else {
            Sub_district.disabled = true;
        }
    });

</script>
<!-- Province Dropdown Script END -->

<script>
  $( function() {
    $( "#birthdate" ).datepicker({
  dateFormat: "dd/mm/yy"
});
  } );

</script>

<script>
    const group1 = document.getElementsByName('customer[tags]');
    const options1 = document.getElementById('Shop-group-retailer-main');
    const options2 = document.getElementById('Shop-group-fv-main');

    function toggleOptions() {
        if (group1[0].checked) {
            options1.style.display = 'block';
            options2.style.display = 'block';
        } else if (group1[1].checked) {
            options1.style.display = 'none';
            options2.style.display = 'none';
        }
    }

    group1.forEach((radio) => {
        radio.addEventListener('change', toggleOptions);
    });
</script>

<script>
    const group1a = document.getElementsByName('customer[tags]');
    const options1a = document.getElementById('Shop-group-fv');
    const options2a = document.getElementById('Shop-group-retailer');

    function toggleOptions() {
        if (group1a[0].checked) {
            options1a.style.display = 'block';
            options2a.style.display = 'none';
        } else if (group1[1].checked) {
            options1a.style.display = 'none';
            options2a.style.display = 'block';
        }
    }

    group1a.forEach((radio) => {
        radio.addEventListener('change', toggleOptions);
    });
</script>

<script>
  function showDatePicker() {
    // Create a new date input element
    var datePicker = document.createElement('input');
    datePicker.type = 'date';
    datePicker.name = 'birthdate';
    datePicker.id = 'birthdate';
    datePicker.className = 'field-input field-input-date input-full parallel';
    datePicker.required = true;

    // Replace the placeholder input with the date picker
    var placeholderInput = document.getElementById('birthdate');
    placeholderInput.parentNode.replaceChild(datePicker, placeholderInput);

    // Automatically focus on the date picker
    datePicker.focus();
  }
</script>

<script src="{{ 'customcode-registration.js' | asset_url }}"></script>
