{% comment %} DEFAULT REGISTER FORM
<div class="page-width page-width--tiny page-content">
  <header class="section-header">
    <h1 class="section-header__title">{{ 'customer.register.title' | t }}</h1>
  </header>

  <div class="form-vertical">






    {%- form 'create_customer' -%}

      {{ form.errors | default_errors }}


      <!-- LINE FEATURE -->
  <center>
    <!-- LINE BUTTON -->
    <div id="signuplinebtn" class="socialplus-login-button-component">

      <a id="loginLineURL" class="" href="">
      <input type="text" class="parallel" id="line_user_id" name="customer[line_user_id]" hidden  style="display:none;">
      <svg width="280" height="44" viewBox="0 0 280 44" fill="white" xmlns="http://www.w3.org/2000/svg" class="socialplus-login-button-image">
      <rect width="280" height="44" rx="8.063" fill="#06C755"></rect>
      <path d="M38.1371 19.7159C38.1371 12.5013 30.8922 6.61768 21.9987 6.61768C13.1052 6.61768 5.86035 12.4862 5.86035 19.7159C5.86035 26.1894 11.6078 31.6042 19.3518 32.6327C19.8812 32.7537 20.5921 32.9806 20.7736 33.4343C20.94 33.8427 20.8795 34.4779 20.819 34.8863C20.819 34.8863 20.6223 36.0207 20.5921 36.2627C20.5165 36.6711 20.2745 37.8508 21.9836 37.1399C23.7078 36.4139 31.2703 31.6647 34.6583 27.7776C37.0027 25.2063 38.1371 22.6048 38.1371 19.7159Z" fill="white"></path>
      <path d="M32.7678 23.8904H28.2455C28.0791 23.8904 27.943 23.7543 27.943 23.5879V16.5548C27.943 16.3884 28.0791 16.2523 28.2455 16.2523H32.7678C32.9342 16.2523 33.0703 16.3884 33.0703 16.5548V17.7043C33.0703 17.8707 32.9342 18.0068 32.7678 18.0068H29.6823V19.2017H32.7678C32.9342 19.2017 33.0703 19.3378 33.0703 19.5042V20.6537C33.0703 20.8201 32.9342 20.9562 32.7678 20.9562H29.6823V22.1511H32.7678C32.9342 22.1511 33.0703 22.2872 33.0703 22.4536V23.6031C33.0703 23.7543 32.9342 23.8904 32.7678 23.8904Z" fill="#06C755"></path>
      <path d="M15.994 23.8905C16.1604 23.8905 16.2965 23.7544 16.2965 23.588V22.4385C16.2965 22.2721 16.1604 22.136 15.994 22.136H12.9085V16.5398C12.9085 16.3734 12.7724 16.2373 12.606 16.2373H11.4565C11.2901 16.2373 11.154 16.3734 11.154 16.5398V23.5729C11.154 23.7393 11.2901 23.8754 11.4565 23.8754H15.994V23.8905Z" fill="#06C755"></path>
      
      <path d="M18.7162 16.2373H17.5667C17.4003 16.2373 17.2642 16.3734 17.2642 16.5398V23.588C17.2642 23.7544 17.4003 23.8905 17.5667 23.8905H18.7162C18.8825 23.8905 19.0187 23.7544 19.0187 23.588V16.5398C19.0338 16.3734 18.8977 16.2373 18.7162 16.2373Z" fill="#06C755"></path>
      
      <path d="M26.5059 16.2373H25.3564C25.1901 16.2373 25.0539 16.3734 25.0539 16.5398V20.7294L21.8323 16.3734C21.8323 16.3583 21.8172 16.3583 21.8021 16.3431L21.7869 16.328L21.7718 16.3129C21.7718 16.3129 21.7718 16.3129 21.7567 16.3129L21.7416 16.2978C21.7416 16.2978 21.7416 16.2978 21.7264 16.2978C21.7264 16.2978 21.7113 16.2978 21.7113 16.2826C21.7113 16.2826 21.7113 16.2826 21.6962 16.2826C21.6962 16.2826 21.6811 16.2826 21.6811 16.2675C21.6811 16.2675 21.6811 16.2675 21.6659 16.2675H21.6508C21.6508 16.2675 21.6508 16.2675 21.6357 16.2675H21.6206H21.6054H21.5903H21.5752C21.5752 16.2675 21.5752 16.2675 21.5601 16.2675H20.4257C20.2593 16.2675 20.1232 16.4036 20.1232 16.57V23.6183C20.1232 23.7846 20.2593 23.9208 20.4257 23.9208H21.5752C21.7416 23.9208 21.8777 23.7846 21.8777 23.6183V19.4438L25.0993 23.7998C25.1144 23.83 25.1447 23.8603 25.1749 23.8754L25.1901 23.8905C25.1901 23.8905 25.1901 23.8905 25.2052 23.8905H25.2203H25.2354C25.2354 23.8905 25.2354 23.8905 25.2506 23.8905H25.2657C25.2959 23.8905 25.3111 23.9056 25.3413 23.9056H26.4757C26.6421 23.9056 26.7782 23.7695 26.7782 23.6031V16.5549C26.8236 16.3734 26.6874 16.2373 26.5059 16.2373Z" fill="#06C755">
      </path><path opacity="0.08" d="M46.2 0H44V44H46.2V0Z" fill="black"></path>
      
      
      <text x="155" y="28" text-anchor="middle">Sign up with LINE</text></svg></a>
      
      </div>
      <!-- LINE BUTTON -->
      <br>
      <!--   LINE CONNECTION INDICATOR -->
      <div id="lineindication" class="socialplus-login-button-component" style="display:none;">
        <svg width="280" height="44" viewBox="0 0 280 44" fill="white" xmlns="http://www.w3.org/2000/svg" class="socialplus-login-button-image">
        <rect id="lineConnectionColor" width="280" height="44" rx="8.063" fill="#808080"></rect>
        <path d="M38.1371 19.7159C38.1371 12.5013 30.8922 6.61768 21.9987 6.61768C13.1052 6.61768 5.86035 12.4862 5.86035 19.7159C5.86035 26.1894 11.6078 31.6042 19.3518 32.6327C19.8812 32.7537 20.5921 32.9806 20.7736 33.4343C20.94 33.8427 20.8795 34.4779 20.819 34.8863C20.819 34.8863 20.6223 36.0207 20.5921 36.2627C20.5165 36.6711 20.2745 37.8508 21.9836 37.1399C23.7078 36.4139 31.2703 31.6647 34.6583 27.7776C37.0027 25.2063 38.1371 22.6048 38.1371 19.7159Z" fill="white"></path>
        <path d="M32.7678 23.8904H28.2455C28.0791 23.8904 27.943 23.7543 27.943 23.5879V16.5548C27.943 16.3884 28.0791 16.2523 28.2455 16.2523H32.7678C32.9342 16.2523 33.0703 16.3884 33.0703 16.5548V17.7043C33.0703 17.8707 32.9342 18.0068 32.7678 18.0068H29.6823V19.2017H32.7678C32.9342 19.2017 33.0703 19.3378 33.0703 19.5042V20.6537C33.0703 20.8201 32.9342 20.9562 32.7678 20.9562H29.6823V22.1511H32.7678C32.9342 22.1511 33.0703 22.2872 33.0703 22.4536V23.6031C33.0703 23.7543 32.9342 23.8904 32.7678 23.8904Z" fill="#06C755"></path>
        <path d="M15.994 23.8905C16.1604 23.8905 16.2965 23.7544 16.2965 23.588V22.4385C16.2965 22.2721 16.1604 22.136 15.994 22.136H12.9085V16.5398C12.9085 16.3734 12.7724 16.2373 12.606 16.2373H11.4565C11.2901 16.2373 11.154 16.3734 11.154 16.5398V23.5729C11.154 23.7393 11.2901 23.8754 11.4565 23.8754H15.994V23.8905Z" fill="#06C755"></path>
        
        <path d="M18.7162 16.2373H17.5667C17.4003 16.2373 17.2642 16.3734 17.2642 16.5398V23.588C17.2642 23.7544 17.4003 23.8905 17.5667 23.8905H18.7162C18.8825 23.8905 19.0187 23.7544 19.0187 23.588V16.5398C19.0338 16.3734 18.8977 16.2373 18.7162 16.2373Z" fill="#06C755"></path>
        
        <path d="M26.5059 16.2373H25.3564C25.1901 16.2373 25.0539 16.3734 25.0539 16.5398V20.7294L21.8323 16.3734C21.8323 16.3583 21.8172 16.3583 21.8021 16.3431L21.7869 16.328L21.7718 16.3129C21.7718 16.3129 21.7718 16.3129 21.7567 16.3129L21.7416 16.2978C21.7416 16.2978 21.7416 16.2978 21.7264 16.2978C21.7264 16.2978 21.7113 16.2978 21.7113 16.2826C21.7113 16.2826 21.7113 16.2826 21.6962 16.2826C21.6962 16.2826 21.6811 16.2826 21.6811 16.2675C21.6811 16.2675 21.6811 16.2675 21.6659 16.2675H21.6508C21.6508 16.2675 21.6508 16.2675 21.6357 16.2675H21.6206H21.6054H21.5903H21.5752C21.5752 16.2675 21.5752 16.2675 21.5601 16.2675H20.4257C20.2593 16.2675 20.1232 16.4036 20.1232 16.57V23.6183C20.1232 23.7846 20.2593 23.9208 20.4257 23.9208H21.5752C21.7416 23.9208 21.8777 23.7846 21.8777 23.6183V19.4438L25.0993 23.7998C25.1144 23.83 25.1447 23.8603 25.1749 23.8754L25.1901 23.8905C25.1901 23.8905 25.1901 23.8905 25.2052 23.8905H25.2203H25.2354C25.2354 23.8905 25.2354 23.8905 25.2506 23.8905H25.2657C25.2959 23.8905 25.3111 23.9056 25.3413 23.9056H26.4757C26.6421 23.9056 26.7782 23.7695 26.7782 23.6031V16.5549C26.8236 16.3734 26.6874 16.2373 26.5059 16.2373Z" fill="#06C755">
        </path><path opacity="0.08" d="M46.2 0H44V44H46.2V0Z" fill="black"></path>
        
        <text id="lineConnectionText" x="155" y="28" text-anchor="middle">Not Connected</text></svg></a>
    </div>
  </center>
  <!--   LINE CONNECTION INDICATOR -->
<!-- LINE FEATURE -->

      <label for="FirstName">{{ 'customer.register.first_name' | t }}</label>
      <input type="text" name="customer[first_name]" id="FirstName" class="parallel input-full"{% if form.first_name %} value="{{ form.first_name }}"{% endif %} autocapitalize="words" autofocus>

      <label for="LastName">{{ 'customer.register.last_name' | t }}</label>
      <input type="text" name="customer[last_name]" id="LastName" class="parallel input-full"{% if form.last_name %} value="{{ form.last_name }}"{% endif %} autocapitalize="words">

      <label for="Email">{{ 'customer.register.email' | t }}</label>
      <input type="email" name="customer[email]" id="Email" class="parallel input-full{% if form.errors contains 'email' %} error{% endif %}"{% if form.email %} value="{{ form.email }}"{% endif %} autocorrect="off" autocapitalize="off">

      <label for="CreatePassword">{{ 'customer.register.password' | t }}</label>
      <input type="password" name="customer[password]" id="CreatePassword" class="parallel input-full{% if form.errors contains 'password' %} error{% endif %}">

      <p>
        <label for="register-submit" class="hidden-label">{{ 'customer.register.submit' | t }}</label>
        <input type="submit" id="register-submit" value="{{ 'customer.register.submit' | t }}" class="btn btn--full">
      </p>

    {%- endform -%}




  </div>


</div>
{% endcomment %}

{% render 'customcode-register' %}
