<style>
    .cis_container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .cis_block {
        max-width: 90vw;
        background-color: #373A5D;
        margin: 20px 10px;
        border-radius: 15px;
        width: 610px;
        color: white;
        padding: 2rem 0;
    }

    .cis_block_heading {
        text-align: center;
        margin: 1rem 0 2rem 0;
    }
    .cis_information_block {
        margin: 0 15%;
    }
    .cis_information_block > div > a {
        color: white;
        margin: auto 20px;
    }
    .cis_information_img {
        height: 35px;
        width: 35px;
    }
    .cis_info_line {
        display: flex;
        margin: 1.5rem 0;
        text-decoration: underline;
    }
    .cis_info_qr {
        width: 60%;
        margin: auto;
    }

    @media screen and (max-width: 425px) {
        .cis_information_block {
            margin: 0 1.5rem;
        }
    }

</style>

<div class="cis_container">
    {% for block in section.blocks %}
{% if block.type == "information" %}
    <div class="cis_block">
        <h2 class="cis_block_heading h2"> {{ block.settings.cis_block_text }}</h2>
        <div class="cis_information_block">
            <div class="cis_info_line">
                <img class="cis_information_img" src="https://cdn.shopify.com/s/files/1/0752/7333/9195/files/Phone_Icon_1.png?v=1685426852">
                <a href="{{block.settings.cis_block_phone_link.url}}"><p>{{ block.settings.cis_block_phone_text }}</p></a>
            </div>
            <div class="cis_info_line">
                <img class="cis_information_img" src="https://cdn.shopify.com/s/files/1/0752/7333/9195/files/Email_Icon_1.png?v=1685426853">
                <a href="{{block.settings.cis_block_mail_link.url}}"><p>{{ block.settings.cis_block_mail_text }}</p></a>
            </div>
            <div class="cis_info_line">
                <img class="cis_information_img" src="https://cdn.shopify.com/s/files/1/0752/7333/9195/files/LINE_Icon_034a31b6-3697-45ed-9c3a-c77789eb76b5.png?v=1685426853">
                <a href="{{block.settings.cis_block_line_link.url}}"><p>{{ block.settings.cis_block_line_text }}</p></a>
            </div>
            <div class="cis_info_line">
                <img class="cis_info_qr" src="{{ block.settings.cis_block_qr_img | img_url: 'master' }}">
            </div>
        </div>
        <img>
    </div>
{% elsif block.type == "order_status" %}
        <div class="cis_block">
        <h2 class="cis_block_heading h2"> {{ block.settings.cis_block_heading }}</h2>
        <div class="cis_information_block">
            <div class="cis_info_line">
                <img class="cis_information_img" src="https://cdn.shopify.com/s/files/1/0752/7333/9195/files/Phone_Icon_1.png?v=1685426852">
                <a href="{{block.settings.cis_block_phone_link_1.url}}"><p>{{ block.settings.cis_block_phone_text_1 }}</p></a>
            </div>
            <div class="cis_info_line">
                <img class="cis_information_img" src="https://cdn.shopify.com/s/files/1/0752/7333/9195/files/Phone_Icon_1.png?v=1685426852">
                <a href="{{block.settings.cis_block_phone_link_2.url}}"><p>{{ block.settings.cis_block_phone_text_2 }}</p></a>
            </div>
            <div class="cis_info_line">
                <img class="cis_information_img" src="https://cdn.shopify.com/s/files/1/0752/7333/9195/files/Phone_Icon_1.png?v=1685426852">
                <a href="{{block.settings.cis_block_phone_link_3.url}}"><p>{{ block.settings.cis_block_phone_text_3 }}</p></a>
            </div>
            <div class="cis_info_line">
                <img class="cis_info_qr" src="{{ block.settings.cis_block_qr_img | img_url: 'master' }}">
            </div>
        </div>
        <img>
    </div>
{% endif %}
    {% endfor %}
</div>

{% schema %}
{
  "name": "Custom Information",
  "blocks": [
    {
      "type": "information",
      "name": "Information",
      "settings": [
        {
          "type": "text",
          "id": "cis_block_text",
          "label": "Header"
        },
        {
          "type": "text",
          "id": "cis_block_phone_text",
          "label": "Phone Text"
        },
        {
          "type": "url",
          "id": "cis_block_phone_link",
          "label": "Phone Link"
        },
        {
          "type": "text",
          "id": "cis_block_mail_text",
          "label": "Mail Text"
        },
        {
          "type": "url",
          "id": "cis_block_mail_link",
          "label": "Mail Link"
        },
        {
          "type": "text",
          "id": "cis_block_line_text",
          "label": "LINE Text"
        },
        {
          "type": "url",
          "id": "cis_block_line_link",
          "label": "LINE Link"
        },
        {
          "type": "image_picker",
          "id": "cis_block_qr_img",
          "label": "QR"
        }
      ]
    },
    {
      "type": "order_status",
      "name": "Order Status Inquiry",
      "settings": [
        {
          "type": "text",
          "id": "cis_block_heading",
          "label": "Header"
        },
        {
          "type": "text",
          "id": "cis_block_phone_text_1",
          "label": "Phone Text"
        },
        {
          "type": "url",
          "id": "cis_block_phone_link_1",
          "label": "Phone Link"
        },
        {
          "type": "text",
          "id": "cis_block_phone_text_2",
          "label": "Phone Text"
        },
        {
          "type": "url",
          "id": "cis_block_phone_link_2",
          "label": "Phone Link"
        },
        {
          "type": "text",
          "id": "cis_block_phone_text_3",
          "label": "Phone Text"
        },
        {
          "type": "url",
          "id": "cis_block_phone_link_3",
          "label": "Phone Link"
        },
        {
          "type": "image_picker",
          "id": "cis_block_qr_img",
          "label": "QR"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Custom Information",
      "blocks": [
        {
          "type": "information"
        }
      ]
    }
  ]
}
{% endschema %}