{%- if section.settings.divider -%}<div class="section--divider">{%- endif -%}

{%- liquid
  capture gridView
    render 'products_per_row', products_per_row: section.blocks.size
  endcapture
 -%}

<div class="page-width">
  {%- if section.settings.title != blank -%}
    <div class="section-header text-{{ section.settings.heading_position }}">
      <h2 class="section-header__title {{ section.settings.heading_size }}">{{ section.settings.title }}</h2>
    </div>
  {%- endif -%}

  <div class="new-grid" data-view="{% if section.blocks.size < 6 %}{{ gridView }}{% else %}6-3{% endif %}">
    {%- liquid
      assign isEmpty = true
      if section.blocks.size > 0
        assign isEmpty = false
      endif
    -%}

    {%- for block in section.blocks -%}
      {%- liquid
        assign collection = collections[block.settings.collection]
        assign sizeVariable = section.blocks.size | at_most: 6
        render 'collection-grid-item', collection: collection, block: block, sizeVariable: sizeVariable, fallback: 'variable'
      -%}
    {%- endfor -%}

    {%- if isEmpty -%}
      <div class="page-width">
        <div class="rte">
          {{ 'home_page.onboarding.no_content' | t }}
        </div>
      </div>
    {%- endif -%}

  </div>
</div>

{%- if section.settings.divider -%}</div>{%- endif -%}


{% schema %}
{
  "name": "t:sections.featured-collections.name",
  "class": "index-section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "t:sections.featured-collections.settings.title.label",
      "default": "Popular categories"
    },
    {
      "type": "select",
      "id": "heading_size",
      "label": "t:common.heading_size.label",
      "default": "h2",
      "options": [
        {
          "value": "h3",
          "label": "t:common.heading_size.options.small.label"
        },
        {
          "value": "h2",
          "label": "t:common.heading_size.options.medium.label"
        },
        {
          "value": "h1",
          "label": "t:common.heading_size.options.large.label"
        },
        {
          "value": "h0",
          "label": "t:common.heading_size.options.extra_large.label"
        }
      ]
    },
    {
      "type": "select",
      "id": "heading_position",
      "label": "t:common.heading_position.label",
      "default": "left",
      "options": [
        {
          "value": "left",
          "label": "t:common.heading_position.options.left.label"
        },
        {
          "value": "center",
          "label": "t:common.heading_position.options.center.label"
        },
        {
          "value": "right",
          "label": "t:common.heading_position.options.right.label"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "divider",
      "label": "t:sections.featured-collections.settings.divider.label",
      "default": false
    }
  ],
  "blocks": [
    {
      "type": "collection",
      "name": "t:sections.featured-collections.blocks.collection.name",
      "settings": [
        {
          "id": "collection",
          "type": "collection",
          "label": "t:sections.featured-collections.blocks.collection.settings.collection.label",
          "info": "t:sections.featured-collections.blocks.collection.settings.collection.info"
        },
        {
          "type": "text",
          "id": "title",
          "label": "t:sections.featured-collections.blocks.collection.settings.title.label",
          "info": "t:sections.featured-collections.blocks.collection.settings.title.info"
        }
      ]
    }
  ],
  "max_blocks": 18,
  "presets": [
    {
      "name": "t:sections.featured-collections.presets.collection_list.name",
      "blocks": [
        {
          "type": "collection"
        },
        {
          "type": "collection"
        },
        {
          "type": "collection"
        },
        {
          "type": "collection"
        },
        {
          "type": "collection"
        },
        {
          "type": "collection"
        }
      ]
    }
  ],
  "disabled_on": {
    "groups": ["footer", "header", "custom.popups"]
  },
  "locales": {
    "de": {
      "home_page": {
        "onboarding": {
          "no_content": "Dieser Bereich hat zur Zeit keinen Inhalt. Füge diesem Bereich über die Seitenleiste Inhalte hinzu."
        }
      }
    },
    "en": {
      "home_page": {
        "onboarding": {
          "no_content": "This section doesn’t currently include any content. Add content to this section using the sidebar."
        }
      }
    },
    "es": {
      "home_page": {
        "onboarding": {
          "no_content": "Esta secção não inclui de momento qualquer conteúdo. Adicione conteúdo a esta secção através da barra lateral."
        }
      }
    },
    "fr": {
      "home_page": {
        "onboarding": {
          "no_content": "Cette section ne contient actuellement aucun contenu. Ajoutez-en en utilisant la barre latérale."
        }
      }
    },
    "it": {
      "home_page": {
        "onboarding": {
          "no_content": "Questa sezione non include attualmente alcun contenuto. Aggiungi contenuti a questa sezione utilizzando la barra laterale."
        }
      }
    },
    "pt-BR": {
      "home_page": {
        "onboarding": {
          "no_content": "Atualmente, esta seção não inclui nenhum conteúdo. Adicione conteúdo nesta seção usando a barra lateral."
        }
      }
    },
    "pt-PT": {
      "home_page": {
        "onboarding": {
          "no_content": "Esta sección actualmente no incluye ningún contenido. Añade un contenido a esta sección utilizando la barra lateral."
        }
      }
    }
  }
}
{% endschema %}
