{%- if section.settings.show_newsletter -%}
  <div class="footer__section footer__section--border">
    <div class="page-width">
      <div class="footer__newsletter">
        {%- if section.settings.newsletter_richtext != blank -%}
          <div class="footer__subscribe rte rte--nomargin">
            {{ section.settings.newsletter_richtext }}
          </div>
        {%- endif -%}

        {%- render 'newsletter-form', section_id: section.id, snippet_context: 'footer' -%}
      </div>
    </div>
  </div>
{%- endif -%}

{% comment %}
  Main navigation is copied here with JS for mobile users
{% endcomment %}
{%- if section.settings.footer_main_menu -%}
  <div id="FooterMobileNavWrap" class="footer__section footer__section--border medium-up--hide hide">
    <div id="FooterMobileNav" class="page-width"></div>
  </div>
{%- endif -%}

<footer class="site-footer" data-section-id="{{ section.id }}" data-section-type="footer-section">
  <div id="FooterMenus" class="footer__section footer__section--menus">
    <div class="page-width">
      <div class="footer__blocks">
        {%- for block in section.blocks -%}
          <div {{ block.shopify_attributes }} class="footer__block" data-type="{{ block.type }}">
            {%- liquid
              case block.type
                when 'menu'
                  render 'footer-menu', block: block
                when 'payment'
                  assign show_currency_flags = block.settings.show_currency_flags
                  render 'footer-payments', block: block, show_currency_flags: show_currency_flags
                when 'contact'
                  render 'footer-contact', block: block
                when 'image'
                  render 'footer-image', block: block
              endcase
            -%}
          </div>
        {%- endfor -%}
      </div>
    </div>
  </div>

  <div class="footer__section">
    <div class="page-width text-center small--text-left">
      <div class="footer__base-links">
        {%- if section.settings.show_copyright -%}
          <span>
            &copy; {{ 'now' | date: '%Y' }} {{ shop.name }}
            {%- if section.settings.copyright_text != blank -%}
              {{ section.settings.copyright_text }}
            {%- endif -%}
          </span>
        {%- endif -%}
        {%- if linklists[section.settings.policies_menu].links.size > 0 -%}
          {%- for link in linklists[section.settings.policies_menu].links -%}
            <a href="{{ link.url }}">{{ link.title }}</a>
          {%- endfor -%}
        {%- endif -%}

        {{ powered_by_link }}
      </div>
    </div>
  </div>
</footer>

{% schema %}
{
  "name": "t:sections.footer.name",
  "max_blocks": 12,
  "settings": [
    {
      "type": "header",
      "content": "t:sections.footer.settings.header_newsletter"
    },
    {
      "type": "checkbox",
      "id": "show_newsletter",
      "label": "t:sections.footer.settings.show_newsletter.label",
      "info": "t:sections.footer.settings.show_newsletter.info",
      "default": true
    },
    {
      "type": "richtext",
      "id": "newsletter_richtext",
      "label": "t:sections.footer.settings.newsletter_richtext.label",
      "default": "<p>Subscribe today to hear first about our sales</p>"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header_additional_footer_content"
    },
    {
      "type": "checkbox",
      "id": "footer_main_menu",
      "label": "t:sections.footer.settings.footer_main_menu.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_copyright",
      "label": "t:sections.footer.settings.show_copyright.label"
    },
    {
      "type": "text",
      "id": "copyright_text",
      "label": "t:sections.footer.settings.copyright_text.label"
    },
    {
      "type": "link_list",
      "id": "policies_menu",
      "label": "t:sections.footer.settings.policies_menu.label",
      "info": "t:sections.footer.settings.policies_menu.info"
    }
  ],
  "blocks": [
    {
      "type": "payment",
      "name": "t:sections.footer.blocks.payments_and_localization.name",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "show_payment_icons",
          "label": "t:sections.footer.blocks.payments_and_localization.settings.show_payment_icons.label",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "show_locale_selector",
          "label": "t:sections.footer.blocks.payments_and_localization.settings.show_locale_selector.label",
          "info": "t:sections.footer.blocks.payments_and_localization.settings.show_locale_selector.info",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "show_currency_selector",
          "label": "t:sections.footer.blocks.payments_and_localization.settings.show_currency_selector.label",
          "info": "t:sections.footer.blocks.payments_and_localization.settings.show_currency_selector.info",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "show_currency_flags",
          "label": "t:sections.footer.blocks.payments_and_localization.settings.show_currency_flags.label",
          "default": true
        }
      ]
    },
    {
      "type": "menu",
      "name": "t:sections.footer.blocks.navigation.name",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "t:sections.footer.blocks.navigation.settings.title.label",
          "info": "t:sections.footer.blocks.navigation.settings.title.info"
        },
        {
          "type": "link_list",
          "id": "menu",
          "label": "t:sections.footer.blocks.navigation.settings.menu.label",
          "default": "footer",
          "info": "t:sections.footer.blocks.navigation.settings.menu.info"
        },
        {
          "type": "checkbox",
          "id": "enable_account_link",
          "label": "t:sections.footer.blocks.navigation.settings.enable_account_link.label"
        }
      ]
    },
    {
      "type": "contact",
      "name": "t:sections.footer.blocks.contact_and_social.name",
      "settings": [
        {
          "type": "header",
          "content": "t:sections.footer.blocks.contact_and_social.settings.header_contact"
        },
        {
          "type": "text",
          "id": "phone",
          "label": "t:sections.footer.blocks.contact_and_social.settings.phone.label"
        },
        {
          "type": "page",
          "id": "contact",
          "label": "t:sections.footer.blocks.contact_and_social.settings.contact.label"
        },
        {
          "type": "page",
          "id": "chat",
          "label": "t:sections.footer.blocks.contact_and_social.settings.chat.label"
        },
        {
          "type": "header",
          "content": "t:sections.footer.blocks.contact_and_social.settings.header_social"
        },
        {
          "type": "checkbox",
          "id": "enable_social",
          "label": "t:sections.footer.blocks.contact_and_social.settings.enable_social.label",
          "default": true
        }
      ]
    },
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.footer.blocks.logo.settings.image.label",
          "info": "t:sections.footer.blocks.logo.settings.image.info"
        },
        {
          "type": "select",
          "id": "image_mask",
          "label": "t:common.image_mask.label",
          "default": "none",
          "options": [
            {
              "value": "none",
              "label": "t:common.image_mask.options.none.label"
            },
            {
              "value": "portrait",
              "label": "t:common.image_mask.options.portrait.label"
            },
            {
              "value": "landscape",
              "label": "t:common.image_mask.options.landscape.label"
            },
            {
              "value": "square",
              "label": "t:common.image_mask.options.square.label"
            },
            {
              "value": "rounded",
              "label": "t:common.image_mask.options.rounded.label"
            },
            {
              "value": "rounded-wave",
              "label": "t:common.image_mask.options.rounded-wave.label"
            },
            {
              "value": "rounded-top",
              "label": "t:common.image_mask.options.rounded-top.label"
            },
            {
              "value": "star",
              "label": "t:common.image_mask.options.star.label"
            },
            {
              "value": "splat-1",
              "label": "t:common.image_mask.options.splat-1.label"
            },
            {
              "value": "splat-2",
              "label": "t:common.image_mask.options.splat-2.label"
            },
            {
              "value": "splat-3",
              "label": "t:common.image_mask.options.splat-3.label"
            },
            {
              "value": "splat-4",
              "label": "t:common.image_mask.options.splat-4.label"
            }
          ]
        },
        {
          "type": "url",
          "id": "link",
          "label": "t:sections.footer.blocks.logo.settings.link.label",
          "info": "t:sections.footer.blocks.logo.settings.link.info"
        }
      ]
    }
  ],
  "default": {
    "settings": {},
    "blocks": [
      {
        "type": "menu",
        "settings": {}
      },
      {
        "type": "payment",
        "settings": {}
      }
    ]
  },
  "disabled_on": {
    "groups": ["header", "custom.popups"]
  }
}
{% endschema %}
