{%- comment -%}
{% if customer %}
  {% if customer.metafields.custom.customer_type == 'food_vendor' %}
    <!-- Customer is logged in and has customer_type set to 'food_vendor' -->
    <p>Welcome, food vendor {{ customer.first_name }}!</p>
    {% assign main_menu = linklists[section.settings.food_vendor] %}
  {% elsif customer.metafields.custom.customer_type == 'retailer' %}
    <!-- Customer is logged in and has customer_type set to 'retailer' -->
    <p>Welcome, retailer {{ customer.first_name }}!</p>
    {% assign main_menu = linklists[section.settings.retailer] %}
  {% else %}
    <!-- Customer is logged in but has an unknown customer_type or set to none -->
    <p>Welcome, valued customer {{ customer.first_name }}!</p>
    {% assign main_menu = linklists[section.settings.none] %}
  {% endif %}
{% else %}
  <!-- Customer is not logged in -->
  <p>Please log in to access the content.</p>
  {% assign main_menu = linklists[section.settings.default] %}
{% endif %}
{%- endcomment -%}

{%- liquid
  if customer
    if customer.metafields.custom.customer_type == 'food_vendor'
      assign main_menu = linklists[section.settings.food_vendor]

      elsif customer.metafields.custom.customer_type == 'retailer'
      assign main_menu = linklists[section.settings.retailer]

     else customer.metafields.custom.customer_type == 'none'
      assign main_menu = linklists[section.settings.none]
    endif
    
    else
      assign main_menu = linklists[section.settings.none]
  endif

  assign logo_alignment = 'left'
  assign nav_position = 'below'

  if section.settings.main_menu_alignment == 'left' or section.settings.main_menu_alignment == 'left-center'
    assign nav_position = 'beside'
  endif

  if section.settings.main_menu_alignment == 'center'
    assign logo_alignment = 'center'
  endif

  assign template_name = template | replace: '.', ' ' | truncatewords: 2, '' | handle

  assign overlay_header = false
  if template_name == 'index' and section.settings.sticky_index
    assign overlay_header = true
  endif
  if template_name contains 'collection' and collection.image and section.settings.sticky_collection
    assign overlay_header = true
  endif
-%}

<style>
  .site-nav__link {
    font-size: {{ settings.type_navigation_size }}px;
  }
  {% if settings.type_navigation_capitalize %}
    .site-nav__link {
      text-transform: uppercase;
      letter-spacing: 0.2em;
    }
  {% endif %}

  {% if mainmenu.length > 6 %}
    .site-nav__link {
      padding-left: 10px;
      padding-right: 10px;
    }
  {% endif %}

  {%- if settings.color_header == settings.color_body_bg or settings.color_body_bg contains settings.color_header -%}
    .site-header,
    .site-header__element--sub {
      box-shadow: 0 0 25px rgb(0 0 0 / 10%);
    }

    .is-light .site-header,
    .is-light .site-header__element--sub {
      box-shadow: none;
    }
  {%- endif -%}
</style>

<div data-section-id="{{ section.id }}" data-section-type="header">
  <div id="HeaderWrapper" class="header-wrapper{% if overlay_header %} header-wrapper--overlay is-light{% endif %}">
    <header
      id="SiteHeader"
      class="site-header{% if settings.type_navigation_style == 'heading' %} site-header--heading-style{% endif %}"
      data-sticky="{{ section.settings.header_sticky }}"
      data-overlay="{{ overlay_header }}">

      <div class="site-header__element site-header__element--top">
        <div class="page-width">
          <div class="header-layout" data-layout="{{ section.settings.main_menu_alignment }}" data-nav="{{ nav_position }}" data-logo-align="{{ logo_alignment }}">

            {%- if nav_position == 'below' and logo_alignment == 'left' -%}
              <div class="header-item header-item--compress-nav small--hide">
                <button type="button" class="site-nav__link site-nav__link--icon site-nav__compress-menu">
                  <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-hamburger" viewBox="0 0 64 64"><path class="cls-1" d="M7 15h51">.</path><path class="cls-1" d="M7 32h43">.</path><path class="cls-1" d="M7 49h51">.</path></svg>
                  <span class="icon__fallback-text">{{ 'general.drawers.navigation' | t }}</span>
                </button>
              </div>
            {%- endif -%}

            {%- if logo_alignment == 'left' -%}
              <div class="header-item header-item--logo">
                {%- render 'header-logo-block', section: section -%}
              </div>
            {%- endif -%}

            {%- if nav_position == 'below' -%}
              <div class="header-item header-item--search small--hide">
                {%- if logo_alignment == 'center' -%}
                  <button type="button" class="site-nav__link site-nav__link--icon site-nav__compress-menu">
                    <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-hamburger" viewBox="0 0 64 64"><path class="cls-1" d="M7 15h51">.</path><path class="cls-1" d="M7 32h43">.</path><path class="cls-1" d="M7 49h51">.</path></svg>
                    <span class="icon__fallback-text">{{ 'general.drawers.navigation' | t }}</span>
                  </button>
                {%- endif -%}

                {%- render 'predictive-search', context: 'header' -%}
              </div>
            {%- endif -%}

            {%- if nav_position == 'beside' -%}
              <div class="header-item header-item--navigation{% if section.settings.main_menu_alignment == 'left-center' %} text-center{% endif %}" {% unless disable_aria %}role="navigation" aria-label="Primary"{% endunless %}>
                {%- render 'header-desktop-nav', main_menu: main_menu, nav_position: nav_position, show_mega_products: section.settings.mega_products, hover_menu: section.settings.hover_menu -%}
              </div>
            {%- endif -%}

            {%- if logo_alignment == 'center' -%}
              <div class="header-item header-item--logo">
                {%- render 'header-logo-block', section: section -%}
              </div>
            {%- endif -%}

            <div class="header-item header-item--icons">
              {%- render 'header-icons', section: section, nav_position: nav_position -%}
            </div>
          </div>
        </div>

        <div class="site-header__search-container">
          <div class="page-width">
            <div class="site-header__search">
              {%- render 'predictive-search', context: 'header' -%}
              <button type="button" class="text-link site-header__search-btn site-header__search-btn--cancel">
                <span class="medium-up--hide"><svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-close" viewBox="0 0 64 64"><path d="m19 17.61 27.12 27.13m0-27.13L19 44.74" style="fill:none;stroke:#000;stroke-miterlimit:10;stroke-width:2px"/></svg></span>
                <span class="small--hide">{{ 'general.search.cancel' | t }}</span>
              </button>
            </div>
          </div>
        </div>
      </div>

      {%- if nav_position == 'below' -%}
        <div class="site-header__element site-header__element--sub" data-type="nav">
          <div class="page-width{% if logo_alignment == 'center' %} text-center{% endif %}" {% unless disable_aria %}role="navigation" aria-label="Primary"{% endunless %}>
            {%- render 'header-desktop-nav', main_menu: main_menu, nav_position: nav_position, show_mega_products: section.settings.mega_products, hover_menu: section.settings.hover_menu -%}
          </div>
        </div>

        <div class="site-header__element site-header__element--sub" data-type="search">
          <div class="page-width medium-up--hide">
            {%- render 'predictive-search', context: 'header' -%}
          </div>
        </div>
      {%- endif -%}

      <div class="page-width site-header__drawers">
        <div class="site-header__drawers-container">
          <div class="site-header__drawer site-header__cart" id="HeaderCart">
            <div class="site-header__drawer-animate">
              {%- render 'header-cart-drawer' -%}
            </div>
          </div>

          <div class="site-header__drawer site-header__mobile-nav medium-up--hide" id="MobileNav">
            <div class="site-header__drawer-animate">
              {%- render 'header-mobile-nav', main_menu: main_menu -%}
              {%- if section.settings.header_footer_menu -%}
                <div id="MobileNavFooter"></div>
              {%- endif -%}
              {%- if section.settings.language_selector -%}
                {%- render 'customcode-language-selector' -%}
              {%- endif -%}
            </div>
          </div>
        </div>
      </div>
    </header>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.header.name",
  "class": "header-section",
  "settings": [
    {
      "type": "link_list",
      "id": "food_vendor",
      "label": "Food Vendor Navigation",
      "default": "main-menu"
    },
    {
      "type": "link_list",
      "id": "retailer",
      "label": "Retailer Navigation",
      "default": "main-menu"
    },
    {
      "type": "link_list",
      "id": "none",
      "label": "Retailer and Food Vendor Navigation",
      "default": "main-menu"
    },
    {
      "type": "checkbox",
      "id": "hover_menu",
      "label": "t:sections.header.settings.hover_menu.label",
      "default": true
    },
    {
      "type": "select",
      "id": "main_menu_alignment",
      "label": "t:sections.header.settings.main_menu_alignment.label",
      "default": "below",
      "options": [
        {
          "value": "below",
          "label": "t:sections.header.settings.main_menu_alignment.options.below.label"
        },
        {
          "value": "left",
          "label": "t:sections.header.settings.main_menu_alignment.options.left.label"
        },
        {
          "value": "left-center",
          "label": "t:sections.header.settings.main_menu_alignment.options.left-center.label"
        },
        {
          "value": "center",
          "label": "t:sections.header.settings.main_menu_alignment.options.center.label"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "mega_products",
      "label": "t:sections.header.settings.mega_products.label",
      "info": "t:sections.header.settings.mega_products.info",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "header_sticky",
      "label": "t:sections.header.settings.header_sticky.label",
      "default": true,
      "info": "t:sections.header.settings.header_sticky.info"
    },
    {
      "type": "checkbox",
      "id": "header_footer_menu",
      "label": "t:sections.header.settings.header_footer_menu.label",
      "default": true,
      "info": "t:sections.header.settings.header_footer_menu.info"
    },
    {
      "type": "checkbox",
      "id": "sticky_index",
      "label": "t:sections.header.settings.sticky_index.label",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "sticky_collection",
      "label": "t:sections.header.settings.sticky_collection.label",
      "info": "t:sections.header.settings.sticky_collection.info",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "language_selector",
      "label": "Show Language Selector",
      "default": false
    }
  ],
  "blocks": [
    {
      "type": "logo",
      "name": "t:sections.header.blocks.logo.name",
      "limit": 1,
      "settings": [
        {
          "type": "image_picker",
          "id": "logo",
          "label": "t:sections.header.blocks.logo.settings.logo.label"
        },
        {
          "type": "image_picker",
          "id": "logo-inverted",
          "label": "t:sections.header.blocks.logo.settings.logo-inverted.label",
          "info": "t:sections.header.blocks.logo.settings.logo-inverted.info"
        },
        {
          "type": "range",
          "id": "desktop_logo_width",
          "label": "t:sections.header.blocks.logo.settings.desktop_logo_width.label",
          "default": 200,
          "min": 100,
          "max": 400,
          "step": 10,
          "unit": "px"
        },
        {
          "type": "range",
          "id": "mobile_logo_width",
          "label": "t:sections.header.blocks.logo.settings.mobile_logo_width.label",
          "default": 140,
          "min": 60,
          "max": 200,
          "step": 10,
          "unit": "px",
          "info": "t:sections.header.blocks.logo.settings.mobile_logo_width.info"
        }
      ]
    }
  ],
  "default": {
    "settings": {}
  },
  "disabled_on": {
    "groups": ["footer", "custom.popups"]
  }
}
{% endschema %}
