<div class="page-width" style="padding-top: {{ section.settings.padding_top }}px; padding-bottom: {{ section.settings.padding_bottom }}px;">
  <div class="map-section__overlay-inner text-{{ section.settings.heading_position }}" style="margin-left: auto; margin-right: auto; max-width: inherit; padding: 0px;">
      {%- if section.settings.map_title != blank -%}
        <h3 style="line-height: 30px;" class="text-spacing {{ section.settings.heading_size }}">{{ section.settings.map_title}}</h3>
      {%- endif -%}

      {%- if section.settings.address != blank -%}
        <div class="rte-setting text-spacing">{{ section.settings.address }}</div>
      {%- endif -%}
    <div class="google-map-section">
      <iframe width="100%" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps?q={{ section.settings.pinned_address | url_encode }}&output=embed" allowfullscreen>
      </iframe>
    </div>
  </div>
</div> 
{% schema %}
{
  "name": "Map without API",
  "class": "index-section--flush",
  "settings": [
    {
      "id": "map_title",
      "type": "html",
      "label": "t:sections.map.settings.map_title.label"
    },
    {
      "type": "select",
      "id": "heading_size",
      "label": "t:common.heading_size.label",
      "default": "h2",
      "options": [
        {
          "value": "h3",
          "label": "t:common.heading_size.options.small.label"
        },
        {
          "value": "h2",
          "label": "t:common.heading_size.options.medium.label"
        },
        {
          "value": "h1",
          "label": "t:common.heading_size.options.large.label"
        },
        {
          "value": "h0",
          "label": "t:common.heading_size.options.extra_large.label"
        }
      ]
    },
    {
      "type": "select",
      "id": "heading_position",
      "label": "t:common.heading_position.label",
      "default": "center",
      "options": [
        {
          "value": "left",
          "label": "t:common.heading_position.options.left.label"
        },
        {
          "value": "center",
          "label": "t:common.heading_position.options.center.label"
        },
        {
          "value": "right",
          "label": "t:common.heading_position.options.right.label"
        }
      ]
    },
    {
      "id": "address",
      "type": "richtext",
      "label": "t:sections.map.settings.address.label",
      "default": "<p>Ajinomoto Foundation | 487/1, 12th Floor, Thanon Si Ayutthaya, Thanon Phaya Thai,<br>Ratchathewi, Bangkok 10400, Thailand</p>"
    },
    {
      "type": "text",
      "label": "Pinned Address",
      "id": "pinned_address",
      "default": "Ajinomoto",
      "info": "Enter the address to be pinned on the map."
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Padding Top",
      "default": 40,
      "min": 10,
      "max": 80,
      "step": 1
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Padding Bottom",
      "default": 40,
      "min": 10,
      "max": 80,
      "step": 1
    }
  ],
  "presets": [
    {
      "name": "Map without API",
      "category": "Custom",
      "settings": {
        "pinned_address": "Ajinomoto Foundation | 487/1, 12th Floor, Thanon Si Ayutthaya, Thanon Phaya Thai, Ratchathewi, Bangkok 10400, Thailand"
      }
    }
  ],
  "disabled_on": {
    "groups": ["footer", "header", "custom.popups"]
  }
}
{% endschema %}
