<slideshow-section>
  {%- unless section.settings.full_width -%}
    <div class="page-width hero--padded">
  {%- endunless -%}
    <div
      data-section-id="{{ section.id }}"
      data-section-type="slideshow-section">

      {%- if section.blocks.size > 0 -%}
        <div class="slideshow-wrapper">
          {%- if section.settings.autoplay and section.settings.style == 'bars' and section.blocks.size > 1 -%}
            {%- style -%}
              [data-bars][data-autoplay="true"] .flickity-page-dots .dot:after {
                animation-duration: {{ section.settings.autoplay_speed | times: 1000 }}ms;
              }
            {%- endstyle -%}

            <button type="button" class="visually-hidden slideshow__pause" data-id="{{ section.id }}" aria-live="polite">
              <span class="slideshow__pause-stop">
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-pause" viewBox="0 0 10 13"><path d="M0 0h3v13H0zm7 0h3v13H7z" fill-rule="evenodd"/></svg>
                <span class="icon__fallback-text">{{ 'sections.slideshow.pause_slideshow' | t }}</span>
              </span>
              <span class="slideshow__pause-play">
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-play" viewBox="18.24 17.35 24.52 28.3"><path fill="#323232" d="M22.1 19.151v25.5l20.4-13.489-20.4-12.011z"/></svg>
                <span class="icon__fallback-text">{{ 'sections.slideshow.play_slideshow' | t }}</span>
              </span>
            </button>
          {%- endif -%}

          {%- assign natural_height_ratio = '60%' -%}
          {%- assign natural_height_ratio_mobile = '100%' -%}
          {%- for block in section.blocks limit: 1 -%}
            {%- if block.settings.image != blank -%}
              {%- capture natural_height_ratio -%}{{ 100 | divided_by: block.settings.image.aspect_ratio }}%{% endcapture %}
              {%- assign natural_height_ratio_mobile = natural_height_ratio -%}
            {%- endif -%}
            {%- if block.settings.image_mobile != blank -%}
              {%- capture natural_height_ratio_mobile -%}{{ 100 | divided_by: block.settings.image_mobile.aspect_ratio }}%{% endcapture %}
            {%- endif -%}
          {%- endfor -%}

          {%- style -%}
            .hero-natural--{{ section.id }} {
              height: 0;
              padding-bottom: {{ natural_height_ratio }};
            }

            @media screen and (max-width: 768px) {
              .hero-natural--{{ section.id }} {
                padding-bottom: {{ natural_height_ratio_mobile }};
              }
            }
          {%- endstyle -%}

          <div class="hero-natural--{{ section.id }}">
            <div id="Slideshow-{{ section.id }}"
              class="hero hero--{{ section.id }} loading loading--delayed"
              data-natural="true"
              data-autoplay="{{ section.settings.autoplay }}"
              data-speed="{{ section.settings.autoplay_speed | times: 1000 }}"
              {% if section.settings.style == 'arrows' %}
                data-arrows="true"
              {% endif %}
              {% if section.settings.style == 'dots' %}
                data-dots="true"
              {% endif %}
              {% if section.settings.style == 'bars' %}
                data-dots="true"
                data-bars="true"
              {% endif %}
              data-slide-count="{{ section.blocks.size }}">
              {%- for block in section.blocks -%}
                <div
                  {{ block.shopify_attributes }}
                  class="slideshow__slide slideshow__slide--{{ block.id }}"
                  data-index="{{ forloop.index0 }}"
                  data-id="{{ block.id }}">
                  {%- liquid
                    assign has_mobile_image = false
                    if block.settings.image_mobile != blank
                      assign has_mobile_image = true
                    endif
                  -%}

                  <div class="hero__image-wrapper">
                    {%- if block.settings.image != blank -%}
                      {% capture image_classes %}
                        hero__image hero__image--{{ block.id }} {% if has_mobile_image %} small--hide{% endif %}
                        {% if has_mobile_image %} small--hide{% endif %}
                      {% endcapture %}
                      {% comment %} Full width image so don't need to adjust sizes attribute, fallback is 100vw {% endcomment %}
                      {%- liquid
                        if forloop.index == 1
                          assign loading = section.settings.lazyload_images
                        else
                          assign loading = true
                        endif
                      -%}
                      {%- render 'image-element',
                        img: block.settings.image,
                        loading: loading,
                        classes: image_classes,
                      -%}
                      {%- if has_mobile_image -%}
                        {% capture image_classes %}
                          hero__image hero__image--{{ block.id }} medium-up--hide
                        {% endcapture %}
                      {%- render 'image-element',
                        img: block.settings.image_mobile,
                        loading: loading,
                        classes: image_classes,
                      -%}
                      {%- endif -%}
                    {%- else -%}
                      {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg ' }}
                    {%- endif -%}
                  </div>

                  {%- if block.settings.link != blank -%}
                    <a href="{{ block.settings.link }}" class="hero__slide-link" aria-hidden="true"></a>
                  {%- endif -%}
                </div>
              {%- endfor -%}
            </div>
          </div>
        </div>
      {%- endif -%}

      {%- if section.blocks.size == 0 -%}
        <div class="placeholder-noblocks">
          {{ 'home_page.onboarding.no_content' | t }}
        </div>
      {%- endif -%}
    </div>
  {%- unless section.settings.full_width -%}
    </div>
  {%- endunless -%}
</slideshow-section>


{% schema %}
{
  "name": "t:sections.slideshow-image.name",
  "class": "index-section--hero",
  "settings": [
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "t:sections.slideshow-image.settings.full_width.label"
    },
    {
      "type": "select",
      "id": "style",
      "label": "t:sections.slideshow-image.settings.style.label",
      "default": "arrows",
      "options": [
        {
          "value": "minimal",
          "label": "t:sections.slideshow-image.settings.style.options.minimal.label"
        },
        {
          "value": "arrows",
          "label": "t:sections.slideshow-image.settings.style.options.arrows.label"
        },
        {
          "value": "bars",
          "label": "t:sections.slideshow-image.settings.style.options.bars.label"
        },
        {
          "value": "dots",
          "label": "t:sections.slideshow-image.settings.style.options.dots.label"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "autoplay",
      "label": "t:sections.slideshow-image.settings.autoplay.label",
      "default": true
    },
    {
      "type": "range",
      "id": "autoplay_speed",
      "label": "t:sections.slideshow-image.settings.autoplay_speed.label",
      "default": 7,
      "min": 5,
      "max": 10,
      "step": 1,
      "unit": "s"
    },
    {
      "type": "checkbox",
      "id": "lazyload_images",
      "label": "t:common.lazyload_images.label",
      "info": "t:common.lazyload_images.info",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "t:sections.slideshow-image.blocks.image.name",
      "settings": [
        {
          "type": "url",
          "id": "link",
          "label": "t:sections.slideshow-image.blocks.image.settings.link.label"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.slideshow-image.blocks.image.settings.image.label"
        },
        {
          "type": "image_picker",
          "id": "image_mobile",
          "label": "t:sections.slideshow-image.blocks.image.settings.image_mobile.label"
        }
      ]
    }
  ],
  "max_blocks": 5,
  "presets": [
    {
      "name": "t:sections.slideshow-image.presets.image_optional_slides.name",
      "blocks": [
        {
          "type": "image"
        },
        {
          "type": "image"
        }
      ]
    }
  ],
  "disabled_on": {
    "groups": ["footer", "header", "custom.popups"]
  },
  "locales": {
    "de": {
      "home_page": {
        "onboarding": {
          "no_content": "Dieser Bereich hat zur Zeit keinen Inhalt. Füge diesem Bereich über die Seitenleiste Inhalte hinzu."
        }
      },
      "sections": {
        "slideshow": {
          "play_slideshow": "Diashow abspielen",
          "pause_slideshow": "Pause Diashow"
        }
      }
    },
    "en": {
      "home_page": {
        "onboarding": {
          "no_content": "This section doesn’t currently include any content. Add content to this section using the sidebar."
        }
      },
      "sections": {
        "slideshow": {
          "play_slideshow": "Play slideshow",
          "pause_slideshow": "Pause slideshow"
        }
      }
    },
    "es": {
      "home_page": {
        "onboarding": {
          "no_content": "Esta secção não inclui de momento qualquer conteúdo. Adicione conteúdo a esta secção através da barra lateral."
        }
      },
      "sections": {
        "slideshow": {
          "play_slideshow": "Juego de diapositivas",
          "pause_slideshow": "diapositivas pausa"
        }
      }
    },
    "fr": {
      "home_page": {
        "onboarding": {
          "no_content": "Cette section ne contient actuellement aucun contenu. Ajoutez-en en utilisant la barre latérale."
        }
      },
      "sections": {
        "slideshow": {
          "play_slideshow": "Lire le diaporama",
          "pause_slideshow": "Diaporama Pause"
        }
      }
    },
    "it": {
      "home_page": {
        "onboarding": {
          "no_content": "Questa sezione non include attualmente alcun contenuto. Aggiungi contenuti a questa sezione utilizzando la barra laterale."
        }
      },
      "sections": {
        "slideshow": {
          "play_slideshow": "Avvia presentazione",
          "pause_slideshow": "Metti in pausa presentazione"
        }
      }
    },
    "pt-BR": {
      "home_page": {
        "onboarding": {
          "no_content": "Atualmente, esta seção não inclui nenhum conteúdo. Adicione conteúdo nesta seção usando a barra lateral."
        }
      },
      "sections": {
        "slideshow": {
          "play_slideshow": "Reproduzir de slides",
          "pause_slideshow": "slideshow pausa"
        }
      }
    },
    "pt-PT": {
      "home_page": {
        "onboarding": {
          "no_content": "Esta sección actualmente no incluye ningún contenido. Añade un contenido a esta sección utilizando la barra lateral."
        }
      },
      "sections": {
        "slideshow": {
          "play_slideshow": "Reproduzir de slides",
          "pause_slideshow": "slideshow pausa"
        }
      }
    }
  }
}
{% endschema %}
