{% if customer.metafields.custom.customer_type == "food_vendor" %}
  <div class="yotpo-widget-instance" data-yotpo-instance-id="537747" go-back-text="กลับไป" yotpo-redemption-confirmation-title="{{ 'custom.main_flavor_seasoning_usage.main_flavor_seasoning_usage' | t }}"></div>

  <div class="yotpo-widget-instance" data-yotpo-instance-id="537749" go-back-text="กลับไป" yotpo-redemption-confirmation-title="{{ 'custom.main_flavor_seasoning_usage.main_flavor_seasoning_usage' | t }}"></div>

  <div class="yotpo-widget-instance" data-yotpo-instance-id="527520" go-back-text="กลับไป" yotpo-redemption-confirmation-title="{{ 'custom.main_flavor_seasoning_usage.main_flavor_seasoning_usage' | t }}"></div>

  <div class="yotpo-widget-instance" data-yotpo-instance-id="527521" go-back-text="กลับไป" yotpo-redemption-confirmation-title="{{ 'custom.main_flavor_seasoning_usage.main_flavor_seasoning_usage' | t }}"></div>
{% elsif customer.metafields.custom.customer_type == "retailer" %}
  <div class="yotpo-widget-instance" data-yotpo-instance-id="537747" go-back-text="กลับไป" yotpo-redemption-confirmation-title="{{ 'custom.main_flavor_seasoning_usage.main_flavor_seasoning_usage' | t }}"></div>

  <div class="yotpo-widget-instance" data-yotpo-instance-id="537749" go-back-text="กลับไป" yotpo-redemption-confirmation-title="{{ 'custom.main_flavor_seasoning_usage.main_flavor_seasoning_usage' | t }}"></div>

  <div class="yotpo-widget-instance" data-yotpo-instance-id="527520" go-back-text="กลับไป" yotpo-redemption-confirmation-title="{{ 'custom.main_flavor_seasoning_usage.main_flavor_seasoning_usage' | t }}"></div>

  <div class="yotpo-widget-instance" data-yotpo-instance-id="537723" go-back-text="กลับไป" yotpo-redemption-confirmation-title="{{ 'custom.main_flavor_seasoning_usage.main_flavor_seasoning_usage' | t }}"></div>
{% endif %}